{{#if @site.navigation}}
    <div class='widget links'>
        <h4 class='footer-title'>{{t 'Navigation' }}</h4>
        <ul class='footer-list'>
            {{ navigation }}
        </ul>
    </div>
{{/if}}