<div class="widget series">
  <h4 class='footer-title'>{{t "Series'" }}</h4>
  <ul class='footer-list'>
    {{#get "tags"
        limit="all"
        include="count.posts,meta_title"
        filter="slug:-[adventures-in-excel,newsletter,code-snippet-corner,hacking-tableau-server,microsoft-powerpivot,mongodb-cloud,create-an-aws-api]"
        order="count.posts DESC"
      }}
      {{#foreach tags visibility="internal"}}
        <li class="footer-nav-link">
          <a href="/series/{{slug}}" class="footer-navigation-link">{{meta_title}}</a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
</div>