<footer class='footer'>
  <div class="footer-wrapper">
    {{> "footer/footer-about" }}
    <div class="footer-widgets">
      {{> "footer/footer-links" }}
      {{> "footer/footer-authors" }}
      {{> "footer/footer-series" }}
    </div>
  </div>
  <div class="subfooter">
    {{> "sidebar/social-widget" }}
    <div class="copyright">©{{ date format='YYYY' }} {{ @site.title }}, All Rights Reserved.</div>
  </div>
</footer>