<footer class='footer'>

    <div class="footer-wrapper">
        {{> "footer/footer-about" }}
        {{> "footer/footer-links" }}
        {{> "footer/footer-series" }}
        {{> "footer/footer-authors" }}
    </div>

    <div class='footer-copyright'>
        {{ date format='YYYY' }} {{ @site.title }}
    </div>
</footer>