{{!< default}}
<main class="site-main">
  <div class="sidebar-container">
    <div class="main-feed">
      <div class="post-feed">
        {{#author}}
          {{> "author/author-card"}}
        {{/author}}
        {{#foreach posts}}
          {{> "post-card"}}
        {{/foreach}}
        {{pagination}}
      </div>
    </div>
    <div class="sidebar">
      {{> "sidebar/sidebar" }}
    </div>
  </div>
</main>