{{!< default}} <main id="site-main" class="site-main">
    <div class="sidebar-container">

        <div class="main-feed">

            <div class="post-feed">

                {{#author}}
                {{> "page/author-card"}}
                {{/author}}

                {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
                {{/foreach}}

                {{pagination}}

            </div>
        </div>

        <div class="sidebar">
            {{> "sidebar/sidebar" }}
        </div>

    </div>
    </main>