{{!< default}} {{#page}} <div class="series-archive">

  <section class="info-card">
    <h1 class="title">{{{title}}}</h1>
    <div class="content">
      {{content}}
    </div>
  </section>

  <main class="series-feed">
    {{#get "tags" limit="all" filter="feature_image:-null" include="count.posts" order="count.posts desc" }}
    {{#foreach tags visibility="internal"}}
    {{> "series/series-card" }}
    {{/foreach}}
    {{/get}}
  </main>

  </div>

  {{/page}}