{{!< default}}
{{!-- The main content area --}}
<main id="site-main" class="site-main">
  <div class="inner posts page sidebar">
    <div class="post-feed">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
      {{pagination}}
    </div>
    {{> "sidebar/sidebar" }}
  </div>
</main>