{{!< default}}
{{#post}}
  <div class="sidebar-container about-template">
    <main class="about-content main-content">
      <div class="about-header">
        <h1 class="page-title">{{title}}</h1>
        <div class="about-video" style="padding:56.25% 0 0 0;position:relative;">
          <iframe
            src="https://player.vimeo.com/video/265866802?h=7c17a4045a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="Hackers And Slackers"></iframe>
        </div>
      </div>
      {{content}}
      <section class="authors-list">
        <h2 class="authors-list-title">Authors</h2>
        {{#get "authors" include="count.posts" order="count.posts DESC" limit="all"}}
          {{#foreach authors}}
            {{> "about/author-card"}}
          {{/foreach}}
        {{/get}}
      </section>
    </main>
    <div class="sidebar">
      {{> "sidebar/sidebar" }}
    </div>
  </div>
{{/post}}
<script type="text/javascript" src="{{asset 'js/vimeo.js'}}"></script>