{{!< default}}
{{#post}}
  <div class="sidebar-container about-template">
    <main class="about-content main-content">
      <div class="about-header">
        <h1 class="page-title">{{title}}</h1>
        {{> "about/about-video" }}
      </div>
      {{content}}
      <section class="authors-list">
        <h2 class="authors-list-title">Authors</h2>
        {{#get "authors" include="count.posts" order="count.posts DESC" limit="all"}}
          {{#foreach authors}}
            {{> "about/author-card"}}
          {{/foreach}}
        {{/get}}
      </section>
    </main>
    <div class="sidebar">
      {{> "sidebar/sidebar" }}
    </div>
  </div>
{{/post}}
<script type="text/javascript" src="{{asset 'js/vimeo.js'}}"></script>