{{!< default}} <div class="series-detail">
  {{#foreach posts}}
  <div class="series-post-card">
    <h1>{{title}}</h1>
    <p>{{slug}}</p>
    <p>{{name}} {{count.posts}}</p>
  </div>
  {{/foreach}}

  </div>
