{{!< default}}
<div class="series-detail">
  <h1 class="series-title">{{page.title}}</h1>
  <div class="post-content">
    {{#page}}{{content}}{{/page}}
  </div>
  {{#foreach posts}}
    {{> "series/series-post-card" }}
  {{/foreach}}
</div>