{{!< default}}
<div class="series-detail">
  {{#page}}
    <div class="series-header">
      {{!-- Series Page Image --}}
      {{#if feature_image}}
        <img
          class="series-page-image"
          src="{{img_url feature_image}}"
          alt="{{title}}" />
      {{/if}}
      <h1 class="series-title">{{title}}</h1>
    </div>
    <div class="post-content">
      {{content}}
    </div>
  {{/page}}
  {{#foreach posts}}
    {{> "series/series-post-card" }}
  {{/foreach}}
</div>