{{!< default}}
<main id="site-main" class="site-main">
  <div class="inner posts page sidebar">
    <div class="main-feed">
      {{#tag}}
        {{> "info-card"}}
      {{/tag}}
      <div class="post-feed">
        {{#foreach posts}}
          {{!-- The tag below includes the markup for each post - partials/info-card.hbs --}}
          {{> "post-card"}}
        {{/foreach}}
      </div>
    </div>
    <div class="sidebar">
      {{> "sidebar/sidebar" }}
    </div>
  </div>
</main>