<a href="{{url}}" class="series-nextprev-button prev">
  <h6 class="series-nextprev-label"><i class="fa-sharp fa-solid fa-arrow-left"></i> Previous</h6>
  <span class="series-nextprev-post-title">{{title}}</span>
</a>