{{#foreach tags visibility="internal" limit="1" as |series|}}
  {{#series}}
    <div class="series-toc">
      <ol>
        {{#get "posts" limit="all" filter="tag:{{slug}}" order="published_at asc" as |series-post|}}
          {{#foreach series-post}}
            <li class="series-toc-item">
              <a href="{{url}}" class="series-toc-item-link">{{title}}</a>
            </li>
          {{/foreach}}
        {{/get}}
      </ol>
    </div>
  {{/series}}
{{/foreach}}