<div class="widget about">
    <a href='{{ @site.url }}'>
        <img class="widget-logo lazyload" data-src='{{ @site.logo }}' alt='{{ @site.title }}' />
    </a>
    <p class="description">{{ @site.description }}</p>
</div>