<div class="sidebar">
  {{#is "index"}}
    {{> "sidebar/about-widget" }}
  {{/is}}
  {{> "sidebar/social-widget" }}
  {{> "sidebar/tags-widget" }}
  {{> "sidebar/newsletter-widget" }}
  {{> "sidebar/series-widget" }}
  {{#is "index"}}
    {{> "sidebar/site-github-widget" }}
    {{> "sidebar/site-twitter-widget" }}
  {{/is}}
</div>