<div class="widget twitter">
  <a class="twitter-timeline"
    href="https://twitter.com/HackersSlackers"
    data-chrome="noheader,nofooter,noborders,transparent,noscrollbar"
    data-tweet-limit="6"
    data-width="auto"
    data-link-color="#0297f6"
    data-border-color="#eaeaea"
    data-size=".8em"
    data-lang="en"
    data-show-replies="false"
    data-dnt="false">
  </a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>