<div class="widget github">
  <h3 class="widget-title">Github</h3>
  <div class="github-widget" data-username="hackersandslackers", data-options='{"sortBy":"stargazers_count", "limit":5}'></div>
</div>