<div class="widget social">
  <a href="https://github.com/hackersandslackers" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-brands fa-github"></i>
    </button>
  </a>
  <a rel="me" href="https://mastodon.social/@hackersandslackers" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-brands fa-mastodon"></i>
    </button>
  </a>
  <a href="https://twitter.com/hackersslackers" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-brands fa-twitter"></i>
    </button>
  </a>
  <a href="https://dev.to/hackersandslackers" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-brands fa-dev"></i>
    </button>
  </a>
  <a href="https://medium.com/hacking-and-slacking" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-brands fa-medium"></i>
    </button>
  </a>
  <a href="https://www.buymeacoffee.com/hackersslackers" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-regular fa-cup-togo"></i>
    </button>
  </a>
  <a href="https://hackersandslackers.com/rss.xml" target="_blank" rel="noopener noreferrer">
    <button class="social-media-button">
      <i class="fa-solid fa-rss"></i>
    </button>
  </a>
</div>