@import url("//hello.myfonts.net/count/4cef24");

@font-face {
    font-family: "CamphorPro-Bold";
    font-display: swap;
    src: url('../fonts/CamphorPro-Bold.woff2') format('woff2'), url('../fonts/CamphorPro-Bold.woff') format('woff');
}
@font-face {
    font-family: "TTNormsPro-Medium";
    font-display: swap;
    src: url('../fonts/TTNormsPro-Medium.woff2') format('woff2'), url('../fonts/TTNormsPro-Medium.woff') format('woff');
}
@font-face {
    font-family: "CamphorPro-Medium";
    font-display: swap;
    src: url('../fonts/CamphorPro-Medium.woff2') format('woff2'), url('../fonts/CamphorPro-Medium.woff') format('woff');
}
@font-face {
    font-family: "CamphorPro-Regular";
    font-display: swap;
    src: url('../fonts/CamphorPro-Regular.woff2') format('woff2'), url('../fonts/CamphorPro-Regular.woff') format('woff');
}
@font-face {
    font-family: "TTNormsPro-Bold";
    font-display: swap;
    src: url('../fonts/TTNormsPro-Bold.woff2') format('woff2'), url('../fonts/TTNormsPro-Bold.woff') format('woff');
}
