@import "./core/variables.css";

.post-content > pre,
.kg-code-card > pre,
.kg-code-card > code[class*="language-"] {
  -moz-tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  padding: 15px 20px 20px;
  overflow-x: scroll;
  background: #2e3440;
  color: var(--nord6);
  font-family: var(--monospace-font) !important;
  font-size: 0.85em !important;
  hyphens: none;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  tab-size: 4;

  @media (--mobile) {
    padding: 15px 15px 20px;
    border-radius: 0 !important;
    font-size: 0.8em !important;
    white-space: pre-wrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    border-radius: unset !important;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    position: relative;
    width: unset;
    border-radius: 0;

    &:hover {
      cursor: grab;
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
    }
  }

  &::selection,
  &::mozselection {
    background: none;
    text-shadow: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  code {
    white-space: pre-wrap !important;

    @media (--mobile) {
      border-radius: 0;
      white-space: pre !important;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      &:hover {
        cursor: grab;
      }

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
      }
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      color: #99a3b5;
    }

    .token.punctuation {
      color: var(--nord9);
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
      color: var(--nord15);
      font-weight: bold;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.inserted {
      color: #bed2ae;
    }

    .token.builtin {
      color: var(--nord13);
    }

    .token.triple-quoted-string {
      color: #99a3b5;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
      background: none;
      color: var(--nord9);
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
      color: var(--nord9);
      font-weight: bold;
    }

    .token.function {
      color: var(--nord7);
      font-weight: bold;
    }

    .token.regex,
    .token.important,
    .token.variable {
      color: var(--nord13);
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }

    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }

    .token.decorator {
      font-weight: bold;
    }
  }

  /* jinja2 */
  &.language-jinja2,
  &.language-html {
    .token.variable {
      color: var(--nord6);
    }

    .token.attr-name {
      color: var(--nord13);
    }

    .token.attr-value {
      color: #bed2ae;
      font-weight: normal;
    }

    .token.doctype .name {
      color: var(--nord5);
    }
  }

  /* JSON */
  &.language-json {
    .token.property {
      color: var(--nord14);
    }
  }
}

@media print {

  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

.post-content > pre[class*="language-"] {
  margin: 0;
  padding: 20px;
  overflow: auto;
  background: var(--nord0);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  background: var(--nord0);
  color: var(--nord4);
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: 0.7;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
  z-index: 1;
  position: relative;
}

pre[class*="language-shell"] > code[class*="language-shell"] {
  white-space: pre !important;
}

code[class*="language-ini"] {
  .token.selector {
    color: #8fbcbb !important;
    font-weight: 700 !important;
  }

  .token.attr-value {
    color: #d7e6f4 !important;
    font-weight: unset !important;
  }
}

.line-highlight {
  z-index: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 1em;
  padding: inherit 0;
  background: var(--nord1);
  box-shadow: inset 5px 0 0 var(--nord4);
  line-height: inherit;
  white-space: pre;
  pointer-events: none;
}

.site-content > pre {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  border-radius: 4px;
  background: var(--nord0);
}
