@import "./core/variables.css";

.error-template {
  background-color: var(--color-background-grey);

  @media (--mobile) {
    width: 100%;
    box-shadow: unset;
  }

  .error-body-content {
    width: 800px;
    padding: 40px;
    background: white;
    margin: 0 auto;
    height: 100%;
    max-width: 800px;
    box-shadow: var(--card-shadow);

    @media (--smallscreen) {
      padding: 30px 20px;
      width: 100%;
      max-width: unset;
    }

    @media (--mobile) {
      box-shadow: unset;
    }

    .error-message-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .error-code {
      font-family: var(--header-font);
      color: var(--color-header-grey);
      font-size: 4em;
      line-height: 1;
      margin: 0;

      @media (--mobile) {
        font-size: 5.5em;
      }
    }

    .error-description {
      font-family: var(--header-font-medium);
      color: var(--color-post-blurb-grey);
      font-size: 1.4em;
      line-height: 1;

      @media (--mobile) {
        font-size: 1.2em;
        line-height: 1;
      }

      .svg-inline--fa {
        height: 0.9em;
        margin-right: 3px;
      }
    }

    .error-suggestion {
      font-size: 1.4em;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      color: #414d5a;
      font-family: var(--body-font);
      font-size: 1.1em;
      line-height: 1.6em;
    }

    .error-explanation {
      font-family: var(--body-font-medium);
      font-size: 1.3em;
      line-height: 1;
      margin: 15px 0;
      -webkit-font-smoothing: antialiased;
      color: #414d5a;
      font-family: var(--body-font);
      font-size: 1.1em;
      line-height: 1.6em;

      @media (--mobile) {
        margin: 15px auto;
        max-width: 96%;
      }
    }

    .suggested-posts {
      column-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 15px;

      @media (--mobile) {
        row-gap: 20px;
      }

      @media (--mobile) {
        grid-template-columns: 1fr;
        row-gap: 30px;
        max-width: 95%;
        margin: auto;
      }

      .post-card {
        height: 355px;
        overflow: hidden;
        border: 1px solid #b6bcc1;
        box-sizing: unset;
        box-shadow: unset;

        @media (--mobile) {
          height: unset;
        }

        .post-card-title {
          font-size: 1.4em;
          line-height: 1.1;

          @media (--mobile) {
            font-size: 1.8em;
          }
        }

        .post-card-excerpt {
          font-size: 1.15em;
          margin: 10px 0 0;

          @media (--mobile) {
            font-size: 1.3em;
          }
        }

        .error-message-top {
          display: flex;
          justify-content: space-between;
        }

        .post-card-content {
          padding: 15px;
          width: -webkit-fill-available;
          display: block;
          height: -webkit-fill-available;
          max-height: -webkit-fill-available;
        }

        .post-card-meta {
          display: none;
        }

        &:hover {
          * {
            background: var(--color-hover);
            color: var(--color-hover);
            cursor: pointer;
          }
        }
      }
    }

    .error-footer {
      border-top: 1px solid #eaecee;
      margin-top: 30px;
      padding-top: 20px;
    }

    .error-suggestion {
      display: block;
    }

    .error-link {
      font-family: var(--body-font-bold);
      color: var(--color-lightgrey);
      transition: var(--transition);
      display: block;

      &:hover {
        color: var(--color-hover);
        cursor: pointer;
      }
    }
  }

  .footer-wrapper {
    max-width: 800px;

    @media (--mobile) {
      padding: 0 30px;
      max-width: unset;
    }
  }

  .viewport {
    max-height: unset;
  }

  #site-header {
    @media (--smallscreen) {
      margin-bottom: 0;
      box-shadow: none;
    }

    .nav-wrapper {
      min-width: 93%;
    }
  }
}
