@import "./core/variables.css";

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header,
.gh-navigation,
#gh-navigation {
  position: relative;
  background: white;
  margin-bottom: 30px;
  box-shadow: var(--card-shadow);

  @media (--smallscreen) {
    margin-bottom: 25px;
  }

  @media (--mobile) {
    margin-bottom: unset;
    grid-gap: 5vw;
  }

  .nav-wrapper {
    width: 950px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 93%;

    @media (--mobile) {
      max-width: 100%;
    }

    &.nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .nav.right {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    width: 225px;
    justify-content: flex-end;

    @media (--mobile) {
      justify-content: left;
      width: unset;
    }

    & > a {
      transition: var(--transition);
      margin-left: 15px;
      line-height: 1;

      @media (--mobile) {
        display: none;
      }
    }

    .hamburger {
      display: none;
      margin-left: 6px;
      z-index: 1000;

      @media (--mobile) {
        display: block;
        height: 40px;
        width: 40px;
        margin: unset;
      }

      &.active {
        position: fixed !important;
        right: 20px;
      }
    }
  }

  .nav.left {
    li a {
      color: var(--color-lightgrey);
      transition: var(--transition);
      font-family: var(--body-font);
      line-height: 1;
      font-size: 1.3em;

      @media (--tablet) {
        font-size: 1.2em;
      }

      &:hover {
        color: var(--color-hover);
        cursor: pointer;
      }
    }

    li {
      margin-right: 25px;
      line-height: 1;
      padding: 0;
      overflow-y: hidden;

      @media (--tablet) {
        margin-right: 13px;
      }
    }

    ul {
      @media (--mobile) {
        display: none;
      }
    }
  }

  .nav-item {
    display: inline;
    padding-left: unset;
    margin-top: unset;
    margin-right: 15px;
    white-space: nowrap;
    font-family: var(--body-font);
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;

    @media (--tablet) {
      margin-right: 10px;
    }

    @media (--mobile) {
      margin: unset;
    }

    &:last-child {
      margin-right: unset;
    }

    &.signup {
      @media (--mobile) {
        display: none;
      }
    }

    &.login {
      @media (--mobile) {
        display: none;
      }
    }

    &.search {
      @media (--mobile) {
        margin: 0 5px 0 0;
      }
    }
  }

  .search-button {
    display: flex;
    align-items: center;
    color: var(--color-lightgrey);
    transition: var(--transition);
    font-size: 1.3em;
    display: block;
    height: 20px;

    @media (--mobile) {
      font-size: 1.3em;
    }

    &:hover {
      color: var(--color-hover);
      cursor: pointer;
    }
  }

  .mobile-logo {
    display: flex;
    align-items: center;

    .icon {
      @media (--mobile) {
        margin-right: 3px;
      }
    }
  }
}


.page-template .site-header,
.about-template .site-header,
.post-template .site-header,
.tag-template .site-header {
  @media (--tablet) {
    margin-bottom: 0;
    box-shadow: none;
  }
}

.post-template {

  .nav-wrapper.nav-links {
    @media (--tablet) {
      padding: 0 2vw;
      max-width: 100%;
    }

    @media (--mobile) {
      padding: 0;
    }
  }

  .site-header {
    box-shadow: none;
  }
}

.site-header-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-header-content {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  padding-top: 6.4vmin;
  padding-bottom: 6.4vmin;
  text-align: center;
  color: var(--color-darkgrey);
}

.has-cover .site-header-content {
  min-height: 560px;
  background-color: white;
  color: #fff;
}

.site-header-content.left-aligned {
  padding-bottom: 0;
  text-align: left;
}

.site-header-content.no-content {
  padding-top: 0;
}

.site-header-inner {
  position: relative;
}

.site-header-content.left-aligned .site-header-inner {
  align-items: flex-start;
}

.site-logo {
  flex-shrink: 0;
  margin: 0 auto;
  max-height: 120px;
}

.site-header-content.left-aligned .site-logo {
  margin-right: auto;
  margin-left: 0;
  max-height: 96px;
}

.site-title {
  z-index: 10;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 800;

  @media (--mobile) {
    font-size: 1.05em;
  }
}

.site-navigation {
  position: relative;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid var(--color-header-border-grey);

  @media (--mobile) {
    padding: 20px 3vw;
    width: unset;
  }

  .nav {
    display: flex;
    align-items: center;

    ul {
      padding-left: unset;
      padding-right: unset;
    }
  }
}

.site-header .nav-link {
  color: var(--color-lightgrey);
}

.nav-btn,
.nav-link {
  display: inline-block;
  padding: 10px 16px;
  font-size: .9em;
  line-height: 16px;
  font-family: var(--body-font);
  letter-spacing: .5px;
  text-align: center;
  text-transform: initial;
  white-space: nowrap;
  border: none;
  border-radius: 2px;
  transition: var(--transition);
}

.outline-btn {
  color: var(--color-theme);
  background-color: white;
  box-shadow: inset 0 0 0 1px var(--color-theme);
  transition: var(--transition);

  &:hover {
    color: var(--color-hover) !important;
    box-shadow: inset 0 0 0 1px var(--color-hover) !important;
    cursor: pointer !important;
  }
}

.filled-btn {
  background-color: var(--color-theme);
  box-shadow: inset 0 0 0 1px var(--color-theme);
  color: #fff !important;
  transition: var(--transition);

  &:hover {
    cursor: pointer !important;
    background-color: var(--color-hover);
    box-shadow: inset 0 0 0 1px var(--color-hover);
  }
}

.tags-navigation {
  border-bottom: 0.5px solid var(--color-header-border-grey);

  @media (--mobile) {
    display: none;
  }

  .dragscroll {
    cursor: grab;
    flex-wrap: nowrap;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      cursor: grabbing;
    }

    &[data-dragging="true"] a {
      pointer-events: none;
    }

    .tag-item {
      display: inline-block;
      scroll-snap-align: start;
    }
  }
}

.site-header ul {
  overflow-x: auto;
  display: flex;
  align-items: center;
  list-style: none;
}

.tags-list {
  padding: 20px 0;
  margin: 0 auto;

  .tag-item {
    margin-right: 18px;
    padding: 0;
    line-height: 1em;
    transition: var(--transition);

    &:hover {
      cursor: pointer;
      color: var(--color-hover);
    }
  }
}

.tag-item {
  line-height: 16px;
  white-space: nowrap;
  user-select: none;

  .tag-link {
    color: var(--color-lightgrey);
    letter-spacing: 0.5px;
    font-family: var(--body-font-semibold);
    font-size: .9em;
    transition: var(--transition);

    &:hover {
      cursor: pointer;
      color: var(--color-hover);
    }
  }
}

.logo {
  height: 40px;
  margin-right: 25px;
  transition: var(--transition);
  width: 40px;

  @media (--tablet) {
    margin-right: 20px;
  }

  &:hover {
    opacity: .7;
  }

  .icon.title {
    color: var(--color-theme);
    font-family: var(--header-font);
    font-size: 1.1em;
    margin: unset;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo.mobile {
  display: none;

  @media (--mobile) {
    display: block;
    height: 35px;
    weight: 35px;
  }

  * {
    transition: var(--transition);
  }

  &:hover * {
    cursor: pointer;
    opacity: 0.7;
  }
}

.logo.desktop {
  @media (--mobile) {
    display: none;
  }
}

.post-template .nav-wrapper {
  max-width: 800px;
}

.post-template .tags-navigation {
  display: none;
}

.error-template .nav-wrapper {
  max-width: 900px;
}
