@import "./core/variables.css";
@import "./author.css";
@import "./tag.css";
@import "./series-all.css";
@import "./kg.css";
@import "./series-detail.css";
@import "./error.css";

.page-template {
  background: var(--color-background-grey);

  .page-title {
    @media (--mobile) {
      font-size: 2.2em;
    }
  }

  &.page-about .page-title {
    @media (--mobile) {
      font-size: 2.2em;
      margin-bottom: unset;
    }
  }

  .post-header {
    padding-bottom: max(3.2vmin, 28px);
  }

  .main-content,
  #site-main {
    padding: 40px;
    max-width: 658px;
    background: white;
    box-shadow: var(--card-shadow);

    @media (--smallscreen) {
      padding: 30px;
    }

    @media (--tablet) {
      padding: 5vw;
      width: 100%;
      max-width: unset;
    }

    @media (--mobile) {
      padding: 0 5vw 5vw;
    }

    .page-image {
      margin-bottom: 40px;
      box-shadow: var(--card-shadow);
      border-radius: 2px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

    & > p {
      -webkit-font-smoothing: antialiased;
      color: #414d5a;
      font-family: var(--body-font);
      font-size: 1.1em;
      line-height: 1.7em;
      margin: 0 0 25px;

      a {
        border-bottom: 1px solid var(--color-theme);
        word-break: break-word;
        transition: var(--transition);
        text-decoration: none;

        &:hover {
          color: var(--color-theme);
          cursor: pointer;
        }
      }
    }
  }

  .about-content {
    margin-bottom: 40px;

    .authors-list-title {
      margin: 40px 0 15px;
    }
  }
}


.page-title {
  font-family: var(--header-font-medium);
  color: var(--color-header-grey);
  line-height: 1;
  margin-bottom: 10px;
}


@media (--smallscreen) {

  .author-template .site-content {
    margin: unset;
  }
}


.author-template,
.tag-template {

  .author-card,
  .info-card {
    @media (--tablet) {
      margin: unset;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
    }

    @media (--mobile) {
      padding: 2vw 6vw;
    }
  }
}
