@import "./core/variables.css";

.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 10px auto;

  .pagination-arrow {
    font-size: 1.4em;
    transition: var(--transition);
    color: var(--color-lightgrey);

    &:hover {

      i,
      svg {
        color: var(--color-hover) !important;
        cursor: pointer;
        fill: var(--color-hover) !important;
      }
    }
  }

  .fake-pagination-button {
    display: block;
    width: 21px;
    height: 21px;
  }

  .hidden {
    visibility: hidden;
  }

  .page-number {
    font-family: var(--body-font-bold);
    opacity: .5;
    line-height: 1;
    font-size: 1.1em;
  }
}
