@import "./core/variables.css";
@import "./kg.css";
@import "./table.css";
@import "./code.css";
@import "./related-posts.css";
@import "./author.css";

/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template {
  background: var(--color-background-grey);

  @media (--mobile) {
    overflow-x: hidden;
  }

  .main {
    @media (--tablet) {
      padding-top: 0;
    }

    @media (--mobile) {
      max-width: 100vw;
    }
  }

  .viewport {
    @media (--tablet) {
      max-width: 100vw;
    }
  }

  .site-header {
    margin-bottom: 0;
    box-shadow: 0 1px 0 rgba(39, 44, 49, 0.15);

    .site-navigation {
      border-bottom: 1px solid #cdd9e0;

      @media (--mobile) {
        padding: 20px 3vw;
      }
    }
  }

  .post-wrapper {
    margin-bottom: unset;
    background: white;
    box-shadow: 0px 4px 4px rgb(39 44 49 / 10%);
  }

  main {
    margin: 0 auto 0;
    padding-top: 0;
    width: 800px;

    @media (--smallscreen) {
      width: 100%;
      padding-top: unset;
    }

    @media (--tablet) {
      margin: 0;
    }

    @media (--mobile) {
      margin: unset;
    }
  }

  .post {
    word-break: break-word;
    margin: 0 auto 0;
    width: 800px;
    max-width: 90vw;
    margin: 0 auto;

    @media (--tablet) {
      width: unset;
      max-width: unset;
    }

    .series-nextprev {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 20px;

      @media (--tablet) {
        padding: 0 5vw;
      }

      .series-nextprev-button {
        border-right: 1px solid #dedede;
        border-top: 1px solid #dedede;
        color: #414d5a;
        max-width: 48%;
        min-width: 48%;
        padding: 15px;
        transition: var(--transition);

        &.next {
          text-align: right;

          .series-nextprev-label svg,
          .series-nextprev-label i {
            margin-left: 5px;
          }
        }

        &.prev {

          .series-nextprev-label svg,
          .series-nextprev-label i {
            margin-right: 5px;
          }
        }

        &:hover {
          background: var(--color-theme);
          cursor: pointer;

          * {
            color: white;
          }
        }

        .series-nextprev-label {
          font-size: 1.3em;
          margin: unset;
        }

        .series-nextprev-post-title {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          display: -webkit-box;
          font-family: var(--body-font-medium);
          font-size: .9em;
          font-weight: 400;
          line-height: 1.5;
          overflow-y: hidden;
          text-overflow: ellipsis;
          width: -webkit-fill-available;
          margin: 10px 0;
        }
      }
    }
  }

  .post-header {
    align-items: center;
    display: flex !important;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;

    @media (--tablet) {
      width: 100%;
    }

    @media (--mobile) {
      margin: 0 auto;
    }

    .post-primary-tag {
      line-height: 1;
      font-family: var(--header-font);
      margin-bottom: 10px;
      display: inline-block;
      font-size: 1.2em;
      transition: var(--transition);
      text-transform: uppercase;

      @media (--mobile) {
        font-size: 1em;
      }

      &:hover {
        cursor: pointer;
        color: var(--color-hover) !important;
      }
    }

    .post-image {
      width: 100%;

      @media (--tablet) {
        padding: 0;
      }

      img {
        width: 100%;
      }
    }

    .post-title {
      color: var(--color-header-grey);
      display: block;
      font-family: var(--header-font);
      font-size: 2.3em;
      margin: unset;
      font-weight: unset;
      line-height: 1.05;
      order: 2;
      width: -webkit-fill-available;

      @media (--mobile) {
        font-size: 2em;
        line-height: 1.1;
      }

      @media (--xxs-mobile) {
        font-size: 1.9em;
      }
    }

    .post-header-details {
      margin: 0 auto;
      padding: 40px 0 0;
      width: 100%;

      @media (--tablet) {
        padding: unset;
        max-width: 90vw;
        margin: 6vw auto 0;
      }

      .post-excerpt {
        color: #778291;
        font-family: var(--body-font-medium);
        font-size: 1.35em !important;
        line-height: 1.2;
        margin: 10px 0;
        order: 1;

        @media (--tablet) {
          margin: 10px 0;
          font-size: 1.25em;
          line-height: 1.2;
        }

        @media (--small-tablet) {
          margin: 8px 0;
        }

        @media (--mobile) {
          font-size: 1.05em;
          display: none;
        }
      }

      .post-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        align-items: center;
        color: #414d5a;

        @media (--mobile) {
          margin: 10px 0;
        }

        .post-meta-author-avatar {
          border-radius: 50%;
          border: 1px solid var(--color-author-avatar-border);
          overflow: hidden;
          display: block;
          height: 46px;
          width: 46px;
          overflow: hidden;
          margin-right: 10px;
          position: relative;

          .post-meta-author-img {
            width: 100%;
            height: 100%;
          }

          i {
            font-size: 2.3em;
            display: block;
            text-align: center;
            position: absolute;
            top: 3px;
            left: 2px;
            right: 0px;
            bottom: 0;
            line-height: 1;
            color: #4e576a;
          }
        }

        .post-meta-author-name {
          display: block;
          font-family: var(--header-font-semibold);
          font-size: 1.3em;
          color: #414d5a;

          &:hover {
            color: var(--color-hover);
            cursor: pointer;
          }
        }

        .post-meta-separator {
          padding: 0 5px;
        }

        .post-published-time-meta {
          font-family: var(--body-font-medium);
          opacity: .7;
        }
      }
    }

    .series-toc {
      border-bottom: 1px solid #d2d5d8;
      margin: 20px 0 0;
      overflow: hidden;
      padding: 0 0 20px;
      position: relative;
      min-width: -webkit-fill-available;

      @media (--tablet) {
        padding: 0 0 15px;
      }

      ol {
        counter-reset: li 2;
        list-style-type: upper-roman !important;
        margin: 0;
        padding: 0;
      }

      .series-toc-item {
        color: var(--color-body-font);
        counter-increment: step-counter;
        font-size: 1.15em;
        display: flex;
        justify-content: left;
        line-height: 1;
        margin: 12px 0;
        padding-left: 0;

        @media (--tablet) {
          margin: 0 0 10px;
        }

        @media (--mobile) {
          line-height: 1.2;
          font-size: 1.1em;
        }

        &::before {
          content: counter(step-counter, upper-roman) "." !important;
          color: #5f6874;
          font-family: var(--body-font-semibold);
          font-size: 15px;
          font-weight: bold;
          display: inline-block;
          margin-right: 5px;
          min-width: 30px;
        }

        .series-toc-item-link {
          color: #5f6874;
          font-family: var(--body-font-medium);
          transition: var(--transition);
        }

        &:hover {

          .series-toc-item-link,
          &::before {
            color: var(--color-hover);
            cursor: pointer;
          }
        }
      }
    }
  }

  .post-content {
    width: 800px;
    margin: 30px 0 0;

    .protip {
      flex-direction: column;
      border-radius: 5px;
      background: #ffd3a7;
      box-shadow: 2px 2px 5px -2px rgb(71 30 0 / 74%), 0 0 1px rgba(0, 0, 0, .4);
      overflow: hidden;

      p, .kg-callout-text {
        line-height: 1.5;
        color: #694503;
        font-family: var(--body-font);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &::before {
        content: "Protip";
        background: #ffd3a7;
        padding: 5px;
        display: block;
        border-radius: 4px 4px 0 0;
      }
    }

    @media (--tablet) {
      max-width: 90vw;
      margin: 6vw auto;
    }

    iframe {
      width: 100%;

      @media (--mobile) {
        width: 100vw;
        max-width: unset;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
      }

      &:last-child {
        margin: 30px 0 0;
      }
    }

    h2 {
      line-height: 1.2;
      font-family: var(--body-font-light);

      @media (--mobile) {
        font-size: 1.8em;
        line-height: 1.2;
        margin: 40px 0 5px;
      }
    }

    h3 {
      font-family: var(--body-font-medium);
      font-size: 1.4em;
      line-height: 1.3;
      margin: 40px 0 5px;
      color: #4e576a;

      @media (--mobile) {
        font-size: 1.3em;
      }
    }

    a {
      border-bottom: 1px solid var(--color-theme);
      word-break: break-word;
      transition: var(--transition);
      text-decoration: none;

      &:hover {
        color: var(--color-theme);
        cursor: pointer;
      }
    }

    pre {
      overflow: auto;
      padding: 16px 20px;
      color: var(--color-wash);
      font-size: 1.4rem;
      line-height: 1.5em;
      background: var(--color-code-bg);
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);

      @media (--mobile) {
        padding: 20px 15px;
      }
    }

    .intro-notice {
      align-items: flex-start;
      background: #eceef1;
      border-radius: 6px;
      color: #6e7482;
      display: flex;
      font-style: italic;
      justify-content: left;
      line-height: 1.4;
      font-size: .9em;
      margin: -10px auto;
      padding: 15px;
      box-shadow: 2px 2px 2px -2px rgb(0 0 0 / 75%), 0 0 1px rgba(0, 0, 0, 0.4);

      img {
        height: 40px;
        min-width: 40px;
        opacity: .7;
        color: var(--color-post-blurb-grey);
        margin: 0;
        margin-right: 10px !important;
      }

      p {
        font-family: var(--body-font);
        color: var(--color-post-blurb-grey);
        letter-spacing: -.2px;
        line-height: 1.6em;
        margin: 0;

        a {
          font-weight: bold;
          color: var(--color-post-blurb-grey);
          border-bottom: var(--color-post-blurb-grey) 1px solid;
          transition: var(--transition);

          &:hover {
            color: var(--color-hover);
            border-bottom: var(--color-hover) 1px solid;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer-wrapper {
    .widget.info {
      max-width: 32%;
    }
  }

  .post-tags {
    display: block;
    height: fit-content;
    justify-content: space-between;
    margin: 40px 0 20px;
    max-width: 100%;
    width: 100%;

    @media (--tablet) {
      padding: 0 5vw;
    }

    .post-tag-footer {
      letter-spacing: 0.1em;
      box-shadow: inset 0 0 0 1px rgb(148 151 155 / 70%);
      color: #6b7583 !important;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      display: inline-block;
      font-family: var(--body-font-medium);
      font-size: .85em;
      line-height: 1;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 9px 10px 7px;
      transition: all .2s ease-out;

      @media (--mobile) {
        margin-bottom: 10px;
        margin: 0 7px 7px 0;
        line-height: .9;
        padding: 8px 8px;
      }

      &:hover {
        background-color: #6b7583;
        cursor: pointer;
        color: white !important;
      }
    }
  }

  .author-card {
    border-top: 2px dotted #d2d5d8;
    border-bottom: unset;
    padding: 30px 0 0 0;
    margin: 0;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
    overflow: hidden;
    box-shadow: none;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0 !important;
      padding: 0;
    }

    .author-card-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;

      @media (--tablet) {
        padding: 30px 5vw;
      }

      @media (--mobile) {
        margin: 0;
      }

      .author-avatar-link {
        border-radius: 50%;
        overflow: hidden;
        display: block;
        height: 70px;
        min-width: 70px;
        width: 70px;
        margin-right: 15px;

        @media (--mobile) {
          height: 60px;
          min-width: 60px;
          width: 60px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 58px;
          width: 58px;
          min-width: 58px;
        }

        .author-image {
          border-radius: 50%;
          height: 70px;
          min-width: 70px;
          overflow: hidden;
          width: 70px;
          border: 1px solid var(--color-author-avatar-border);

          @media (--mobile) {
            height: 58px;
            min-width: 58px;
            width: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        i {
          width: 100%;
          height: 100%;
          font-size: 2.5em;
          color: #4e576a;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .author-details {
        width: 100%;

        .author-name {
          font-size: 1.5em !important;
          font-family: var(--body-font-medium);
          color: #5a6267;
          font-family: var(--header-font-semibold);
          font-size: 1.4em;

          &:hover {
            color: var(--color-hover);
            cursor: pointer;
          }
        }

        .author-post-count {
          font-size: .9em;
          margin-left: 10px;
          color: var(--color-body-font);
          opacity: .6;
          font-family: var(--header-font-medium);
        }

        .author-profile-social-link {
          font-size: 1.1em;
          transition: var(--transition);

          &.website { color: #8d99b2; }
          &.twitter { color: #1DA1F2; }
          &.github { color: #333; }
        }

        .author-meta {
          display: flex;
          flex-wrap: wrap;
          margin: 8px 0 !important;
          line-height: 1;

          @media (--mobile) {
            margin: 5px 0;
          }

          .author-meta-item {
            font-family: var(--body-font-medium);
            margin-right: 15px;
            color: var(--color-secondary-text);
            line-height: 1;
            display: flex;
            align-items: center;

            &:last-of-type {
              margin-right: unset;
            }

            i, svg {
              margin-right: 5px;
              font-size: 1.3em;

              &.fa-location-dot {
                color: #a78396;
              }
            }

            .author-location {
              color: var(--color-lightgrey);
              font-family: var(--body-font-semibold);

              a {
                transition: var(--transition);

                &:hover {
                  color: var(--color-hover);
                  cursor: pointer;
                }
              }
            }
          }
        }

        .author-card-excerpt {
          margin: 0;
          line-height: 1.5em;
          font-family: var(--body-font-light);
          font-size: 1.1em;
          color: #1e242a;
          margin-top: 0;

          @media (--mobile) {
            width: -webkit-fill-available;
            margin-top: 10px !important;
            padding-top: 5px;
            padding-left: 5px;
            max-width: 85vw;
            font-size: 1em !important;
            line-height: 1.3 !important;
            display: block;
            margin-left: calc(-52vw + 50%) !important;
            margin-right: calc(-50vw + 50%) !important;
          }
        }
      }
    }
  }

  .basicLightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    opacity: .01;
    transition: opacity .4s ease;
    z-index: 1000;
    will-change: opacity;

    &:hover {
      cursor: zoom-out;
    }

    img {
      box-shadow: 0 1px 4px rgba(39, 44, 49, .4);
      max-height: 90vh;
      max-width: 95vw;
      border: 1px solid #000;
    }
  }
}


.page-template .post-header {
  padding-bottom: max(3.2vmin, 28px);
}

.page-template .main-content > .post-tag {
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.post-content {
  width: 100%;

  ol,
  ul {
    margin: 0 0 30px;
    padding: 0 0 0 1em;

    @media (--mobile) {
      margin: 10px 10px 25px;
      padding-left: 15px;
    }

    li {
      color: #414d5a;
      margin: 0 0 10px;
      line-height: 1.5;

      &::marker {
        font-weight: 600;
      }

      code {
        display: inline;
        font-family: var(--monospace-font);
        vertical-align: middle;
        font-weight: 600;
        padding: 0.1em 0.4em 0.1em;
        font-size: 0.78em;
        line-height: 1.4em;
        color: var(--color-inline-code);
        background: var(--color-inline-code-bg);
        border-radius: 3px;
      }
    }
  }

  hr {
    margin: 2.5em 0 2.5em;
    border-top: 1px solid #e4e1e1;
  }

  hr,
  blockquote {
    position: relative;
  }

  blockquote {
    color: var(--color-header-grey);
    padding: 1em 1em;
    background-color: #f6f8fa;
    position: relative;
    max-width: 100%;
    border-left: var(--color-theme) 4px solid;
    z-index: 1;
    margin: 30px 40px;
  }

  hr + *,
  + * {
    margin-top: max(4.8vmin, 32px) !important;
  }

  pre {
    overflow: auto;
    padding: 16px 20px;
    color: var(--color-wash);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: var(--color-code-bg);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
  }

  a {
    border-bottom: 1px solid var(--color-theme);
    word-break: break-word;
    transition: var(--transition);
    text-decoration: none;

    &:hover {
      color: var(--color-theme);
      cursor: pointer;
    }
  }
}

.post-after {
  background-color: var(--color-background-grey);
  width: 100%;
  margin: 30px 0;

  @media (--mobile) {
    margin: 30px 0 10px;
  }

  .post-after-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .support-us {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 15px 60px;
    padding: 20px 0 0;
    text-align: center;

    @media (--tablet) {
      margin: 0 5vw 60px;
    }

    @media (--mobile) {
      display: none;
    }

    .support-us-title {
      color: #4c5867;
      display: block;
      font-family: var(--header-font-semibold);
      font-size: 1.4em;
      margin-bottom: 10px;
      text-align: left;
    }

    .support-input-field {
      appearance: none;
      background: #f7f8fa;
      border: 1px solid #d6dde9;
      border-radius: 3px !important;
      display: block;
      font-family: var(--body-font-medium);
      font-size: 1.05em;
      height: 45px;
      line-height: 1;
      margin: 0 auto 10px;
      padding: 10px !important;
      transition: var(--transition);
      width: -webkit-fill-available;
    }

    .sidebar-btn {
      font-size: 1.2em;
    }

    .support-description {
      color: #4c5a69;
      line-height: 1.5;
      margin: 0 auto 20px;
      text-align: left;
      font-size: 1em;
    }

    .support-coffee-link {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 15px;
    }

    .support-coffee-button {
      width: 220px;
    }
  }

  .post-comments {
    max-width: 95%;
    margin: auto;
  }
}

#ghost-comments-root {
  @media (--mobile) {
    padding: 0 30px;
  }
}

.lightbox-wrapper {
  min-height: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  transition: var(--transition);

  img {
    box-shadow: var(--card-shadow);
  }

  &:hover {
    cursor: zoom-out;
  }
}
