@import "./core/variables.css";

.page-series {
  background: var(--color-background-grey);

  .series-all-info-card {
    background: white;
    box-shadow: var(--card-shadow);
    padding: 30px;
    margin: 0 auto 50px;
    width: 950px;
    max-width: 95%;

    @media (--tablet) {
      width: 100%;
      max-width: unset !important;
    }

    h1 {
      font-family: var(--header-font-medium);
      color: var(--color-header-grey);
    }

    p {
      line-height: 1.6;
      margin-bottom: 0;
      font-size: 1.1;
    }
  }

  .series-all {
    margin: 0 auto 40px;
    max-width: 95%;
    width: 950px;

    @media (--mobile) {
      max-width: 90vw;
    }

    .series-feed {
      grid-gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px 0 0;

      @media (--mobile) {
        grid-template-columns: 1fr;
      }

      .series-card {
        background: #fff;
        border: 1px solid #e0e7ee;
        box-shadow: var(--card-shadow);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        transition: var(--transition);
        padding: 20px;

        * {
          transition: var(--transition);
        }

        &:hover {
          cursor: pointer;
          background: var(--color-theme);

          * {
            color: #fff !important;
          }
        }

        .series-image-wrapper {
          align-content: center;
          display: flex;
          height: 130px;

          .series-card-image {
            height: auto;
            margin: auto;
            max-height: 80%;
            max-width: 80%;
          }
        }

        .series-card-title {
          color: var(--color-header-grey);
          font-family: var(--body-font-bold);
          font-size: 1.3em;
          font-weight: unset;
          line-height: 1.2;
          margin-bottom: 5px;
          margin-top: 0;
          transition: var(--transition);
        }

        .series-card-description {
          -webkit-line-clamp: 4;
          line-clamp: 4;
          -webkit-box-orient: vertical;
          color: var(--color-body-font);
          display: -webkit-box;
          font-family: var(--body-font-medium);
          font-size: .95em;
          line-height: 1.35 !important;
          margin: 10px 0 !important;
          overflow-y: hidden;
          text-align: left;
          text-overflow: ellipsis;
          transition: all .2s ease-out;
          width: -webkit-fill-available;
        }

        .series-card-post-count {
          color: #787f90;
          display: flex;
          line-height: 1;
          margin-top: 10px;
          text-align: right;

          i,
          svg {
            margin-right: 8px;
          }

          span {
            font-family: var(--body-font-semibold);
          }
        }
      }
    }
  }
}
