@import "./core/variables.css";

/* 12. Sidebar
/* ---------------------------------------------------------- */
.sidebar {
  @media (--tablet) {
    display: none;
  }

  .widget {
    background-color: white;
    padding: 20px;
    box-shadow: var(--card-shadow);
    margin-bottom: 20px;
    position: relative;

    .widget-title {
      color: var(--color-lightgrey);
      font-family: var(--body-font-medium);
      font-size: .9em;
      letter-spacing: 1px;
      line-height: 1;
      text-transform: uppercase;
      margin: 0 0 12px;
      border-bottom: 1px solid #dee1e7;
      padding-bottom: 8px;
      text-align: left;
    }

    label {
      color: var(--color-darkgrey);
      font-family: var(--body-font-medium);
      opacity: .7;
      display: block;
      line-height: 1.5;
      font-size: .95em;
    }

    input[type="email"],
    input[type="text"] {
      width: 100%;
    }

    .alert {
      display: none;
    }

    &.newsletter p {
      line-height: 1.3;
      font-size: 1em;
      margin-bottom: 15px;
      font-family: var(--body-font-light);
      color: #313b45;
    }

    &.twitter {
      padding: 10px;
    }

    .tag-cloud {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .tag-cloud-link {
        border: 1px solid #ccd3dc;
        color: #78849c;
        display: inline-block;
        flex-grow: 1;
        font-family: var(--body-font-medium);
        font-size: .85em !important;
        line-height: 1.5em;
        margin: 0 2px 4px;
        padding: 4px 10px;
        text-align: center;
        transition: var(--transition);

        &:hover {
          border: 1px solid #78849c;
          background-color: #78849c;
          cursor: pointer;
          color: white !important;
        }
      }
    }

    .github-widget {
      border: unset;
      max-width: unset;
      align-items: unset;

      .gh-widget-item {
        text-align: unset;
        padding: 5px 0;

        .stat-name {
          color: var(--color-lightgrey);
          font-family: var(--body-font-medium);
          font-size: .95em;
        }
      }

      .gh-widget-photo {
        padding: 0;
        flex: 1.8;

        img {
          max-width: 50px;
          margin: 5px 5px 0 0;
        }
      }

      .gh-widget-personal-details {
        margin-bottom: 10px;
        padding: 5px 0 0;

        & > .gh-widget-item {
          padding: 0;
        }

        .full-name {
          font-size: 1.2em;
          white-space: nowrap;
          font-family: var(--body-font-medium);
          line-height: 1em;
          color: var(--color-header-grey);
        }

        .bio {
          color: var(--color-sidebar-description);
          line-height: 1.3;
          font-size: .95em;
          margin: 5px 0 10px;
          font-family: var(--body-font-light);
        }

        .location {
          font-size: .9em;
          font-family: var(--body-font-semibold);
          color: var(--color-lightgrey);
          line-height: 1;
        }
      }

      .gh-widget-stats {
        justify-content: space-between !important;
        margin-bottom: 20px;

        .gh-widget-item {
          flex: unset;
          justify-content: space-between;
          padding: unset;
        }

        .count {
          font-family: var(--body-font-semibold);
          font-size: 1.2em;
          line-height: 1;
        }
      }

      .gh-widget-heading {
        display: block;
        line-height: 1;
        font-size: 1.1em;
        color: var(--color-lightgrey);
        font-family: var(--body-font-semibold);
        margin-bottom: 5px;
        padding: 0;
      }

      .gh-widget-repositories {

        .gh-widget-container {
          justify-content: space-between;

          .gh-widget-item {
            padding: 0;
          }
        }

        .names {
          flex: 3.5;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 180px;
        }

        .language {
          font-size: .8em;
          text-align: right;
          font-family: var(--body-font-medium);
          color: var(--color-sidebar-description);
        }

        .stars {
          font-size: 0.8em;
          text-align: right;
          color: #e49c16;
          font-weight: 600;
          max-width: 45px;

          i {
            margin-right: -3px;
          }
        }
      }

      .gh-widget-link {
        text-decoration: none;
        font-family: var(--body-font-semibold);
        line-height: 1;
        font-size: .85em;
      }

      .gh-widget-container {
        justify-content: unset;
      }

      & > div > .gh-widget-container:first-child {
        align-items: unset;
        padding: 0;
      }

      & > div > .gh-widget-container:last-child {
        margin-top: 15px;
        justify-content: space-between;

        .gh-widget-item {
          padding: 0;
        }

        .gh-widget-follow,
        .gh-widget-active-time {
          flex: unset;
        }

        .gh-widget-active-time {
          font-style: italic;
          opacity: .7;
        }

        .gh-widget-follow button {
          width: 80px;
          border-radius: 3px;
          line-height: 1;
          background-color: var(--color-theme);
          box-shadow: inset 0 0 0 1px var(--color-theme);
          color: #fff !important;
          transition: var(--transition);

          &:hover {
            cursor: pointer;
            background-color: var(--color-hover) !important;
          }

          a {
            background-color: unset;
            box-shadow: unset;
            color: unset;
            transition: unset;
            line-height: 1;
          }
        }
      }
    }
  }

  bsky-widget {
    min-height: 370px;
    width: 350px;
  }

  .series-list-count {
    font-family: var(--header-font);
    width: 25px;
    text-align: center;
    border-radius: 2px;
    line-height: 1.5;
  }

  .series-widget-list {
    .series-list-link {
      font-family: var(--body-font-medium) !important;
      padding: 9px 6px;
      border-bottom: 1px solid #f0f1f4;
      font-size: .9em;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: var(--transition);

      &:last-of-type {
        border-bottom: unset;
        padding: 9px 6px;
      }

      &:hover {
        background-color: var(--color-hover);
        border-bottom: 1px solid var(--color-hover);
        cursor: pointer;

        * {
          color: white;
          cursor: pointer;
        }
      }

      * {
        transition: var(--transition);
      }

      a {
        color: var(--color-lightgrey);
      }

      .series-list-link-title {
        font-family: var(--body-font-medium);
      }

      a,
      span,
      .series-list-count {
        display: block;
      }
    }
  }
}

/* 12.1. Global Widget Styles
/* ---------------------------------------------------------- */

.subscribe-form {
  .subscribe-form-description {
    color: var(--color-sidebar-description);
  }

  .sidebar-input-field {
    color: #4e5869;
    font-family: var(--body-font);
    font-size: .9em;
    margin: 0 0 10px;
    padding: 12px 10px 10px !important;
    transition: var(--transition);
    width: 100%;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid #9fb6c3;
      background-color: #e7f5fc;
      color: #445d6d;
      cursor: text;
      transition: var(--transition);
    }

    &::placeholder {
      opacity: 0.7;
    }
  }

  .newsletter-messages {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    opacity: 0;

    .message {
      padding: 20px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: var(--transition);
      opacity: 0;
    }

    * {
      font-family: var(--body-font-bold);
    }
  }

  &.success {
    .newsletter-messages {
      display: block;
      z-index: 101;

      .message.success {
        background: #8bcfb6;
        display: block;
        opacity: 1;
      }

      .success-title {
        display: block;
        font-size: 2em;
        font-family: var(--header-font);
        margin-bottom: 10px;
      }

      * {
        color: #094509;
      }
    }
  }

  &.error {
    .newsletter-messages {
      display: block;
      z-index: 100;

      .message.error {
        background: #c86464;
        display: block;
        opacity: 1;

        .error-title {
          display: block;
          font-size: 2em;
          font-family: var(--header-font);
          margin-bottom: 10px;
        }

        * {
          color: #570000;
        }
      }
    }
  }

  &.loading {
    .newsletter-messages {
      display: none;

      .message.loading {
        display: none;
      }
    }
  }

  .sidebar-btn {
    color: #6c8095;
    text-align: right;
    width: 100%;
    background: none;
    font-family: var(--body-font-bold);
    transition: var(--transition);

    &:hover {
      cursor: pointer;
      color: var(--color-hover);
    }
  }
}

/* 12.2. Sidebar About Widget
/* ---------------------------------------------------------- */

.widget.about .widget-logo {
  display: block;
  margin: 0 auto 15px;
  transition: var(--transition);
  width: 230px;

  @media (--smallscreen) {
    margin: 0 auto 10px;
  }

  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.widget.about .description {
  font-family: var(--body-font-light);
  color: var(--color-sidebar-description);
  line-height: 1.3;
  margin: 15px 0 0;
  text-align: center;
  font-size: .95em;
}

/* 12.3. Sidebar Social Widget
/* ---------------------------------------------------------- */
.widget.social {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  height: 70px;
  align-items: center;

  @media (--large-tablet) {
    height: 60px;
  }

  .social-media-button {
    font-size: 1.7em;
    background: unset;
    padding: 0;
    display: flex;
    align-items: center;
    transition: var(--transition);
    color: var(--color-social-btn);
    fill: var(--color-social-btn);

    i,
    svg {
      color: var(--color-social-btn);
      transition: var(--transition);
      line-height: 1;

      &:hover {
        cursor: pointer;
        color: var(--color-hover);
        fill: var(--color-hover);
      }
    }

    &:hover {
      cursor: pointer;
      font-size: 2em;

      i,
      svg {
        fill: var(--color-hover);
        color: var(--color-hover);
      }
    }

    @media (--smallscreen) {
      font-size: 1.5em;

      &:hover {
        font-size: 1.7em;
      }
    }

    a {
      line-height: 1;
    }
  }
}
