@import "./core/variables.css";

.tableContainer {
  overflow-x: scroll;
  margin: 30px 0;
  border: .5px solid #e3ecf3;
  border-radius: 3px;
  border-spacing: 0;

  @media (--mobile) {
    width: auto;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &:hover {
      cursor: grab;
    }

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
    }
  }

  table {
    margin-bottom: 0;
    border-spacing: 0;
    background-color: #fff;
    table-layout: fixed;
    min-width: 100%;
    border: .5px solid #bfcee2;

    @media (--mobile) {
      overflow: hidden;
    }

    * {
      font-family: var(--table-font) !important;
    }

    tr {
      padding: 10px;
      overflow: hidden;
      border-top: 0;
      border-bottom: 0;
      text-align: left;
      text-overflow: ellipsis;
      vertical-align: top;
      white-space: nowrap;
      transition: all 0.3s ease-out;
    }

    thead {
      tr {
        padding: 15px 10px;
        background: none;
        background: #f4f8fb;
        font-size: 1em;
        vertical-align: top;

        td,
        th {
          padding: 10px !important;
          border: .5px solid #c0ced8;
          color: #585a61;
          font-size: 0.8em;
          font-weight: 700;
          text-align: left;
          text-transform: uppercase;

          @media (--mobile) {
            padding: 12px 8px;
            font-size: 0.75em;
          }
        }

        &:nth-of-type(2) {
          font-size: 0.8em;
        }
      }
    }

    tbody {

      td,
      th {
        padding: 12px 10px;
        overflow: hidden;
        border: .5px solid #c0ced8;
        font-size: 0.8em;
        line-height: 1.4;
        text-align: left;
        vertical-align: top;
        transition: all 0.3s ease-out;

        @media (--mobile) {
          padding: 12px 8px;
          font-size: 0.8em;
          min-width: 150px;
          max-width: unset;
        }

        a {
          border-bottom: 1px solid var(--color-theme);
          color: #585a61;
          font-weight: 500;
        }
      }

      tr:last-of-type td {
        border-bottom: 0;
      }
    }
  }

  .table-wrap {
    table-layout: fixed;

    td {
      border: .5px solid #c0ced8;
      word-wrap: break-word;
      overflow: unset;
      white-space: normal;
    }
  }
}

.sideTableContainer {
  margin: 30px 0;
  border: .5px solid #e3ecf3;

  @media (--mobile) {
    margin: 30px 0 30px -5vw;
    width: 100vw;
  }

  tbody {
    @media (--tablet) {
      margin-left: 0 !important;
    }
  }

  tr {
    @media (--tablet) {
      width: 200px !important;
      padding: 0 !important;

      &:first-child td {
        max-width: stretch !important;
      }
    }

    td {
      line-height: 1.6;
      text-align: left;
      white-space: normal !important;
      font-family: var(--body-font);
      border: .5px solid #c0ced8;

      @media (--tablet) {
        margin: 0 !important;
        padding: 10px !important;

        p {
          font-size: 1em;
          line-height: 1.5;
        }
      }

      &:first-child {
        font-family: var(--table-font);
        font-size: 0.8em;
        font-weight: 600;
        text-align: top;
        padding: 12px;
        white-space: nowrap !important;

        @media (--tablet) {
          max-width: none;
          padding: 10px !important;
          text-overflow: ellipsis;
          white-space: unset !important;
          max-width: 40vw !important;
          min-width: 30vw;
        }
      }

      &:nth-of-type(2) {
        padding: 12px;

        @media (--tablet) {
          width: 100%;
          line-height: 1.5;
          white-space: inherit;
        }

        code,
        pre,
        .pre {
          display: inline;
          font-family: var(--monospace-font);
          vertical-align: middle;
          font-weight: 600;
          padding: 0.1em 0.4em 0.1em;
          font-size: 0.78em;
          line-height: 1.4em;
          color: var(--color-inline-code);
          background: var(--color-inline-code-bg);
          border-radius: 3px;
        }
      }

      a {
        color: var(--color-theme);
        font-weight: 600;
      }

      p {
        margin-bottom: 15px !important;
      }
    }
  }

  ul {
    @media (--tablet) {
      margin: 0 0 0 !important;
    }

    li {
      margin: 0 0 5px !important;
      font-size: 1em;
    }

    li:last-child {
      margin: 0;
    }
  }
}

/* Side-by-side table comparison */
.compare-tables {
  display: flex;
  justify-content: space-between;

  @media (--tablet) {
    display: block !important;
    margin-right: calc(-50vw + 50%) !important;
    margin-left: calc(-50vw + 50%) !important;
  }

  .tableContainer.compare {
    max-width: 49%;
    height: fit-content;
    max-height: unset;

    @media (--tablet) {
      width: -webkit-fit-content !important;
      max-width: unset;
      margin: 0 40px 40px !important;
    }

    @media (--mobile) {
      min-width: 100% !important;
      margin: 0 0 40px !important;
    }
  }
}
