{{!-- Comments Section --}}

{{#if comments}}
<section class="post-comments">
    {{comment_count}}
    {{comments mode="light"}}
</section>
{{else}}
{{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
{{#unless @member}}
{{#if access}}
<section class="footer-cta">
    <div class="inner">
        <a class="footer-cta-button" href="#/portal" data-portal>
            <div class="footer-cta-input">Enter your email</div>
            <span>Subscribe</span>
        </a>
        {{!-- ^ This looks like a form element, but it's just a link to Portal,
        making the form validation and submission much simpler. --}}
    </div>
</section>
{{/if}}
{{/unless}}
{{/if}}