@mixin content-link {
    border-bottom: 1px solid $color-theme;
    text-decoration: underline;
    word-break: break-word;
    transition: $transition;
    text-decoration: none;
}

@mixin kg-fullwidth-mobile {
    margin-left: calc(-50vw + 50%) !important;
     margin-right: calc(-50vw + 50%) !important;
    border-radius: unset;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    position: relative;
    width: unset;
}