@mixin content-link {
  border-bottom: 1px solid $color-theme;
  text-decoration: underline;
  word-break: break-word;
  transition: $transition;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $color-theme;
    cursor: pointer;
  }
}

@mixin header-third {
  font-family: $body-font-bold;
  font-size: 1.2em;
  margin: 40px 0 5px;
  color: #4e576a;
}


@mixin mobile-full-width {
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  border-radius: unset !important;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  position: relative;
  width: unset;
  border-radius: 0;
}

@mixin mobile-horizontal-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &:hover {
    cursor: grab;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

@mixin body-font {
  -webkit-font-smoothing: antialiased;
  color: #414d5a;
  font-family: $body-font;
  font-size: 1em;
  line-height: 1.8em;
}

@mixin inline-code {
  display: inline;
  font-family: $monospace-font;
  vertical-align: middle;
  font-weight: 600;
  padding: 0.15em 0.4em 0.15em;
  font-size: 0.85em;
  line-height: 1em;
  color: #517aa1;
  background: rgba(144, 181, 223, .1);
  border-radius: 3px;
}

@mixin kg-card-figcaption {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  line-height: 1.1em;
  padding-top: 10px;
  font-family: $body-font-medium;

  a {
    border-bottom: 1px solid $color-theme;
    color: #737883;
    transition: $transition;
    word-break: break-word;
  }
}

@mixin post-tag {
  box-shadow: inset 0 0 0 1px rgb(148 151 155 / 50%);
  color: #6b7583 !important;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  font-family: $body-font;
  font-size: .85em;
  line-height: 1;
  margin-right: 10px;
  padding: 9px 10px 7px;
  transition: all .2s ease-out;

  @media(max-width: $mobile-breakpoint) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: #6b7583;
    cursor: pointer;
    color: white !important;
  }
}

@mixin author-card {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-border;
  overflow: hidden;
  box-shadow: none;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0 !important;
    padding: 0;
  }

  .author-card-wrapper {
    display: flex;
    justify-content: space-between;

    .author-avatar-link {
      border-radius: 50%;
      overflow: hidden;
      display: block;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      width: 70px;
      margin-right: 15px;
    }

    .author-image {
      border-radius: 50%;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      width: 70px;
      margin-right: 15px;
    }

    .author-details {
      width: 100%;

      .author-name {
        font-size: 1.3em;
        font-family: $header-font-medium;
        color: #666c70;
      }

      .author-post-count {
        font-size: .9em;
        margin-left: 10px;
        color: $color-body-font;
        opacity: .8;
        font-family: $header-font-medium;
      }

      .author-profile-social-link {
        font-size: 1.1em;
        transition: $transition;

        &.website {
          color: #8d99b2;
        }

        &.twitter {
          color: #1DA1F2;
        }

        &.github {
          color: #333;
        }

        &::hover {
          color: $color-hover;
          cursor: pointer;

          .svg-inline--fa {
            fill: $color-hover;
            font-size: 1.2em;
          }
        }
      }

      .author-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        .author-meta-item {
          font-family: $body-font-medium;
          margin-right: 15px;
          color: $color-secondary-text;
          line-height: 1;

          &:last-of-type {
            margin-right: unset;
          }

          .fa-location-dot {
            margin-right: 2px;
            color: #a78396;
          }

          .author-location {
            color: $color-lightgrey;

            a {
              transition: $transition;

              &:hover {
                color: $color-hover;
                cursor: pointer;
              }
            }
          }
        }
      }

      .author-card-excerpt {
        margin: 15px 0 0;
        line-height: 1.4em;
        font-size: .9em;
      }
    }
  }
}

@mixin social-media-icon {
  background: unset;
  padding: 0;
  display: flex;
  align-items: center;
  transition: $transition;
  color: $color-social-btn;
  fill: $color-social-btn;

  i,
  svg {
    color: $color-social-btn;
    transition: $transition;
    line-height: 1;

    &:hover {
      cursor: pointer;
      color: $color-hover;
      fill: $color-hover;
    }
  }
}
