@mixin content-link {
  border-bottom: 1px solid $color-theme;
  text-decoration: underline;
  word-break: break-word;
  transition: $transition;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $color-theme;
    cursor: pointer;
  }
}

@mixin header-third {
  font-family: $body-font-medium;
  font-size: 1.3em;
  line-height: 1.1;
  margin: 40px 0 5px;
  color: #4e576a;
  letter-spacing: .5px;

  @media(max-width: $mobile-breakpoint) {
    font-size: 1.3em;
  }
}


@mixin mobile-full-width {
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  border-radius: unset !important;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  position: relative;
  width: unset;
  border-radius: 0;
}

@mixin mobile-horizontal-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  &:hover {
    cursor: grab;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
}

@mixin body-font {
  -webkit-font-smoothing: antialiased;
  color: #414d5a;
  font-family: $body-font;
  font-size: 1.1em;
  line-height: 1.8em;
}

@mixin inline-code {
  display: inline;
  font-family: $monospace-font;
  vertical-align: middle;
  font-weight: 600;
  padding: 0.15em 0.4em 0.15em;
  font-size: 0.85em;
  line-height: 1em;
  color: #517aa1;
  background: rgba(144, 181, 223, .1);
  border-radius: 3px;
}

@mixin kg-card-figcaption {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
  line-height: 1.1em;
  padding-top: 10px;
  font-family: $body-font-medium;

  a {
    border-bottom: 1px solid $color-theme;
    color: #737883;
    transition: $transition;
    word-break: break-word;
  }
}

@mixin post-primary-tag {
  color: white;
  padding: 6px 10px;
  border-radius: 3px;
  line-height: 1;
  font-family: $body-font-bold;
  font-size: 1.02em;
  text-align: center;
  transition: $transition;

  @media(max-width: $tablet-breakpoint) {
    font-size: 1em;
  }

  @media(max-width: $mobile-breakpoint) {
    font-size: .95em;
  }

  @media(max-width: 500px) {
    font-size: .9em;
    padding: 6px;
    line-height: 1;
  }

  &:hover {
    cursor: pointer;
    background: white !important;
    color: #646f7d;
    box-shadow: inset 0 0 0 1px #646f7d !important;
  }
}

@mixin post-tag {
  box-shadow: inset 0 0 0 1px rgb(148 151 155 / 50%);
  color: #6b7583 !important;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  display: inline-block;
  font-family: $body-font-medium;
  font-size: .85em;
  line-height: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 9px 10px 7px;
  transition: all .2s ease-out;

  @media(max-width: $mobile-breakpoint) {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: #6b7583;
    cursor: pointer;
    color: white !important;
  }
}

@mixin author-card {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-border;
  overflow: hidden;
  box-shadow: none;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0 !important;
    padding: 0;
  }

  .author-card-wrapper {
    display: flex;
    justify-content: space-between;

    .author-avatar-link {
      border-radius: 50%;
      overflow: hidden;
      display: block;
      height: 70px;
      min-width: 70px;
      overflow: hidden;
      width: 70px;
      margin-right: 15px;

      @media(max-width: $mobile-breakpoint) {
        height: 60px;
        min-width: 60px;
        width: 60px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .author-image {
        border-radius: 50%;
        height: 70px;
        min-width: 70px;
        overflow: hidden;
        width: 70px;
        border: 1px solid $color-author-avatar-border;

        @media(max-width: $mobile-breakpoint) {
          height: 58px;
          min-width: 58px;
          width: 58px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.missing-avatar i {
        width: 100%;
        height: 100%;
        font-size: 2em;
        fill: $color-body-font;
        color: $color-body-font;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .author-details {
      width: 100%;

      .author-name {
        font-size: 1.4em;
        font-family: $header-font-semibold;
        color: #666c70;
      }

      .author-post-count {
        font-size: .9em;
        margin-left: 10px;
        color: $color-body-font;
        opacity: .8;
        font-family: $header-font-medium;
      }

      .author-profile-social-link {
        font-size: 1.1em;
        transition: $transition;

        &.website {
          color: #8d99b2;
        }

        &.twitter {
          color: #1DA1F2;
        }

        &.github {
          color: #333;
        }

        &::hover {
          color: $color-hover;
          cursor: pointer;

          .svg-inline--fa {
            fill: $color-hover;
            font-size: 1.2em;
          }
        }
      }

      .author-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        @media(max-width: $mobile-breakpoint) {
          margin: 5px 0;
        }

        .author-meta-item {
          font-family: $body-font-medium;
          margin-right: 15px;
          color: $color-secondary-text;
          line-height: 1;
          display: flex;
          align-items: center;

          &:last-of-type {
            margin-right: unset;
          }

          i,
          svg {
            margin-right: 5px;
            font-size: 1.2em;

            &.fa-location-dot {
              color: #a78396;
            }
          }

          .author-location {
            color: $color-lightgrey;
            font-family: $body-font-semibold;

            a {
              transition: $transition;

              &:hover {
                color: $color-hover;
                cursor: pointer;
              }
            }
          }
        }
      }

      .author-card-excerpt {
        margin: 0;
        line-height: 1.4em;
        font-family: $body-font;

        @media(max-width: $mobile-breakpoint) {
          margin: 10px 0 0;
        }
      }
    }
  }
}

@mixin social-media-icon {
  background: unset;
  padding: 0;
  display: flex;
  align-items: center;
  transition: $transition;
  color: $color-social-btn;
  fill: $color-social-btn;

  i,
  svg {
    color: $color-social-btn;
    transition: $transition;
    line-height: 1;

    &:hover {
      cursor: pointer;
      color: $color-hover;
      fill: $color-hover;
    }
  }
}

@mixin message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: $transition;
  opacity: 0;
}

@mixin blockquote {
  color: $color-header-grey;
  font-style: italic;
  font-weight: 900;
  line-height: 1.6em;
  padding: 1em 1em;
  position: relative;
  font-size: 1.2em;
  font-style: italic;
  max-width: 100%;
  z-index: 1;
  margin: 30px 40px;

  @media(max-width: $tablet-breakpoint) {
    margin: 1.5em 1em !important;
  }

  @media(max-width: $mobile-breakpoint) {
    line-height: 1.4em;
    font-size: 1.1em;
  }

  &::before {
    content: "\f10d";
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #e8ebee;
    font-family: "Font Awesome 6 Sharp";
    font-style: normal;
    font-size: 3em;
    left: -1rem;
    top: 0;
    z-index: -10;

    @media(max-width: $mobile-breakpoint) {
      font-size: 2.5em;
    }
  }

  &::after {
    content: "\f10e";
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #e8ebee;
    font-family: "Font Awesome 6 Sharp";
    font-style: normal;
    font-size: 3em;
    right: 1rem;
    bottom: 2rem;
    z-index: 0;

    @media(max-width: $mobile-breakpoint) {
      font-size: 2.5em;
      bottom: 1rem;
    }
  }
}

@mixin lightboxBody {
  min-height: 100%;
  margin: 0;
  text-align: center;
  overflow: hidden;
  transition: $transition;
}

@mixin outline-button {
  color: $color-theme;
  background-color: white;
  box-shadow: inset 0 0 0 1px $color-theme;
  transition: $transition;

  &:hover {
    color: white;
    background-color: $color-theme;
    cursor: pointer;
  }
}

@mixin filled-button {
  background-color: $color-theme;
  box-shadow: inset 0 0 0 1px $color-theme;
  color: #fff !important;
  transition: $transition;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: $color-hover !important;
    box-shadow: inset 0 0 0 1px $color-hover;
  }
}
