@import "_fonts.scss";

/* Colors */
$color-theme: #0297f6;
$color-green: #a4d037;
$color-yellow: #fecd35;
$color-red: #f05230;
$color-darkgrey: #15171A;
$color-midgrey: #738a94;
$color-lightgrey: #687385;
$color-secondary-text: #979797;
$color-border: #eaecee;
$color-wash: #e5eff5;
$color-darkmode: #151719;
$color-body-font: #1c2228;
$color-background-grey: #f4f8fb;
$color-header-grey: #4e576a;
$color-header-border-grey: #c9ccd0;
$color-hover: #40cebb;
$color-social-btn: #a1adc6;
$color-code-bg: #2e3440;
$color-post-blurb-grey: #677584;
$color-sidebar-description: #607183;
$color-author-avatar-border: #849ab1;

/* Code Colors */
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

/* Fonts */
$font-serif: "Georgia", "Times", serif;
$font-mono: "Menlo", "Courier", monospace;
$body-font: "SofiaPro-Regular", "HelveticaNeue", sans-serif;
$body-font-light: "SofiaPro-Light", "HelveticaNeue", sans-serif;
$body-font-medium: "SofiaPro-Medium", "HelveticaNeue", sans-serif;
$body-font-semibold: "SofiaPro-SemiBold", "HelveticaNeue", sans-serif;
$body-font-bold: "SofiaPro-Bold", "HelveticaNeue", sans-serif;
$header-font: "TTNormsPro-Bold", "HelveticaNeue", sans-serif;
$header-font-medium: "TTNormsPro-Medium", "HelveticaNeue", sans-serif;
$header-font-semibold: "TTNormsPro-SemiBold", "HelveticaNeue", sans-serif;
$monospace-font: "dm", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$table-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

/* Breakpoints */
$smallscreen-breakpoint: 950px;
$tablet-breakpoint: 800px;
$mobile-breakpoint: 600px;

/* Hamburger Menu */
$hamburger-size: 35px;
$hamburger-thickness: 3px;
$hamburger-color: $color-lightgrey;

/* Etc. */
$card-shadow: 0 1px 4px rgba(39, 44, 49, 0.35);
$transition: all .2s ease-out;
