@use "_variables.scss";
@use "_mixins.scss";

.page-about {

  .about-header {
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-breakpoint) {
      margin: 0 !important;

      & {
        @include mobile-full-width;
      }
    }

    .about-video {
      margin-bottom: 15px;

      @media (max-width: $mobile-breakpoint) {
        order: 1;
        margin-bottom: 0;
      }
    }

    .page-title {
      margin-bottom: 15px;

      @media (max-width: $mobile-breakpoint) {
        font-size: 2.4em;
        margin-bottom: 10px;
        order: 2;
        padding: 5vw 5vw 0;
      }
    }
  }

  .main-content {

    h3 {
      @include header-third;
    }

    .author-card {
      @include author-card;
    }

    iframe {
      height: 332px;
      margin-bottom: 40px;
      border: 1px solid #d7dee7;
      width: 100%;
    }
  }
}
