@import "_variables.scss";
@import "_mixins.scss";

.page-about {

  h3 {
    @include header-third;
  }

  .author-card {
    @include author-card;
  }

  iframe {
    height: 332px;
    margin-bottom: 40px;
    border: 1px solid #d7dee7;
  }
}
