@import "_variables.scss";
@import "_mixins.scss";

.page-about {
  .authors-list-title {
    font-family: $body-font-bold;
  }

  .author-card {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $color-border;
    overflow: hidden;
    box-shadow: none;

    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0 !important;
      padding: 0;
    }

    .author-card-wrapper {
      display: flex;
      justify-content: space-between;

      .author-image {
        border-radius: 50%;
        height: 70px;
        min-width: 70px;
        overflow: hidden;
        width: 70px;
        margin-right: 15px;
      }

      .author-details {
        width: 100%;

        .author-name {
          font-size: 1.3em;
          font-family: $header-font-medium;
          color: #666c70;
        }

        .author-post-count {
          font-size: .9em;
          margin-left: 10px;
          color: $color-body-font;
          opacity: .8;
          font-family: $header-font-medium;
        }

        .author-profile-social-link {
          font-size: 1.1em;
          transition: $transition;

          &.website {
            color: #8d99b2;
          }

          &.twitter {
            color: #1DA1F2;
          }

          &.github {
            color: #333;
          }

          &::hover {
            color: $color-hover;
            cursor: pointer;
          }
        }

        .author-meta {
          display: flex;
          flex-wrap: wrap;
          margin: 10px 0;

          .author-meta-item {
            font-family: $body-font-medium;
            margin-right: 15px;
            color: $color-secondary-text;
            line-height: 1;

            &:last-of-type {
              margin-right: unset;
            }

            .fa-location-dot {
              margin-right: 2px;
              color: #a78396;
            }

            .author-location {
              color: $color-lightgrey;

              a {
                transition: $transition;

                &:hover {
                  color: $color-hover;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .author-card-excerpt {
          margin: 15px 0 0;
          line-height: 1.4em;
          font-size: .9em;
        }
      }
    }
  }

  iframe {
    height: 332px;
    margin-bottom: 40px;
    border: 1px solid #d7dee7;
  }
}
