@use "core/_variables.scss" as *;
@use "core/_mixins.scss" as *;

/* 6. Post Feed
/* ---------------------------------------------------------- */
.post-feed {
  grid-gap: 30px;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @media(max-width: $mobile-breakpoint) {
    grid-gap: 4.5vw;
    margin: 2.5vh 4vw;
  }
}