@import "_variables.scss";
@import "_mixins.scss";

/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
  position: relative;
  margin: max(12vmin, 64px) 0 0 0;
  padding-top: 48px;
  padding-bottom: 140px;
  color: #fff;
  background: color-mod($color-darkgrey l(-5%));
  box-shadow: $card-shadow;

  .inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto 1fr auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;

    @media (max-width: 767px) {
      max-width: 500px;
      grid-template-columns: 1fr;
      grid-gap: 0;
      text-align: center;
    }
  }

  a {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
    }
  }

  .site-footer-nav {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 0 20px;
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-flex;
      align-items: center;
      padding: 0;
      margin: 0;
      line-height: 2em;

      &:not(:first-child) a:before {
        content: "";
        display: block;
        width: 2px;
        height: 2px;
        margin: 0 10px 0 0;
        background: #fff;
        border-radius: 100%;
      }
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
    }
  }
}

.footer {
  width: 100%;
  padding: 60px 0 20px;
  background-color: #fff;
  margin: 30px auto 0;
  box-shadow: $card-shadow;

  @media (max-width: 1020px) {
    padding: 60px 40px 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 40px 0 20px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 30px 0;
    margin: 20px auto 0;
  }

  .footer-wrapper,
  .subfooter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;

    @media (max-width: $tablet-breakpoint) {
      max-width: 88%;
    }
  }

  .footer-wrapper {
    @media (max-width: $tablet-breakpoint) {
      flex-direction: column;
    }
  }

  .footer-title {
    color: $color-header-grey;
    font-family: $header-font;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    font-size: 1.1em;
    margin: 0 0 20px;
    font-size: 1em;
    opacity: .88;

    @media(max-width: $tablet-breakpoint) {
      font-size: 1.2em;
    }
  }

  .subfooter {
    margin: 40px auto 0;
    align-items: center;

    @media(max-width: 700px) {
      display: flex;
      flex-direction: column;
      margin: 35px auto 0;
      padding: unset;
    }

    .copyright {
      margin-bottom: unset;
      font-size: .9em;
      color: $color-lightgrey;
      font-family: $body-font-medium;
      line-height: 1;

      @media(max-width: 767px) {
        text-align: center;
        margin: 15px auto 0;
        font-size: .85em;
      }

      a {
        color: #fff;
        letter-spacing: -0.015em;
        font-weight: 500;

        @media (max-width: 767px) {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }

  .widget {
    max-width: 27%;

    @media (max-width: $tablet-breakpoint) {
      width: 100%;
      margin-bottom: 40px;
      max-width: unset !important;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.social {
      height: unset;

      @media (max-width: $tablet-breakpoint) {
        height: 35px !important;
        width: 330px !important;
      }

      @media (max-width: 767px) {
        height: 40px !important;
        width: 90% !important;
      }

      .social-media-button {

        i,
        svg {

          &:hover {
            cursor: pointer;
            fill: $color-hover;
            color: $color-hover;
          }
        }
      }
    }

    .footer-logo {
      width: 220px;
      margin-bottom: 15px;
      transition: $transition;

      &:hover {
        opacity: 0.7;
      }
    }

    .footer-description {
      font-size: 1.05em;
      font-family: $body-font;
      color: #4c5c71;
      line-height: 1.5;

      @media(max-width: 950px) {
        font-size: 1em;
      }

      @media(max-width: $tablet-breakpoint) {
        width: 50%;
      }

      @media(max-width: $mobile-breakpoint) {
        width: 100%;
      }
    }

    &.info {
      max-width: 28%;
    }

    .footer-list {
      margin: 0;
      padding: 0;
      list-style: none;

      ul,
      ol {
        padding: 0;
      }

      li {
        display: block;
        margin-bottom: 18px;
        padding: 0;
        font-size: .95em;
        font-weight: 400;
        line-height: 1;
        text-rendering: optimizelegibility;
        color: #414d5a;

        @media(max-width: $tablet-breakpoint) {
          font-size: 1em;
        }

        a {
          transition: $transition;
          font-family: $body-font-medium;
          color: $color-header-grey;
          opacity: .8;

          &:hover {
            cursor: pointer;
            color: $color-hover;
            opacity: 1;
          }
        }
      }
    }

    &.social {
      margin-bottom: 0;
      max-width: unset;
      width: 290px !important;
      height: unset;
    }
  }
}
