@import "_variables.scss";
@import "_mixins.scss";

/* 11. Site Footer
/* ---------------------------------------------------------- */

.site-footer {
    position: relative;
    margin: max(12vmin, 64px) 0 0 0;
    padding-top: 48px;
    padding-bottom: 140px;
    color: #fff;
    background: color-mod($color-darkgrey l(-5%));
}

@media (max-width: 800px) {
    .footer-wrapper {
        flex-direction: column;
    }
}

.site-footer .inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto 1fr auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3rem;
}

.site-footer .copyright a {
    color: #fff;
    letter-spacing: -0.015em;
    font-weight: 500;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.site-footer a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.site-footer-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}

.site-footer-nav li {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 2em;
}

.site-footer-nav a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.site-footer-nav li:not(:first-child) a:before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    margin: 0 10px 0 0;
    background: #fff;
    border-radius: 100%;
}

@media (max-width: 767px) {
    .site-footer .inner {
        max-width: 500px;
        grid-template-columns: 1fr;
        grid-gap: 0;
        text-align: center;
    }

    .site-footer .copyright,
    .site-footer .copyright a {
        color: #fff;
        font-size: 1.5rem;
    }

    .site-footer .copyright {
        margin-bottom: 16px;
    }
}




/* 13. Footer
/* ---------------------------------------------------------- */

.footer {
    width: 100%;
    padding: 60px 0 0;
    border-top: 0.5px solid $color-border;
    background-color: #fff;
    margin: 40px auto 0;
}

.footer .footer-wrapper,
.footer .subfooter {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    max-width: 85%;
}

.footer .subfooter {
    margin: 20px auto 0;
}

@media(max-width: 950px) {

    .footer .widget .footer-description {
        font-size: 1em;
    }
}

.footer .widget .footer-title {
    color: $color-header-grey;
    font-family: $header-font-medium;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    font-size: 1.1em;
    margin: 0 0 20px;
}

.footer .widget .footer-logo {
    width: 220px;
    margin-bottom: 20px;
    transition: $transition;
}

.footer .widget .footer-logo:hover {
    opacity: 0.7;
}

.footer .widget .footer-description {
    line-height: 1.4;
    font-size: 1.05em;
}

.footer .widget {
    max-width: 27%;
}

.footer .widget.info {
    max-width: 28%;
}

.footer .widget .footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .widget .footer-list ul,
.footer .widget .footer-list ol {
    padding: 0;
}

.footer .widget .footer-list a {
    color: $color-header-grey;
    opacity: .8;
    transition: $transition;
}

.footer .widget .footer-list li {
    display: block;
    margin-bottom: 18px;
    padding: 0;
    font-size: .95em;
    font-weight: 400;
    line-height: 1;
    text-rendering: optimizelegibility;
    color: #414d5a;
}

.footer .widget .footer-list li a {
    font-family: $body-font-medium;
    transition: $transition;
}

.footer .widget .footer-list li a:hover {
    cursor: pointer;
    color: $color-hover;
    opacity: 1;
}

.footer .widget.social {
    margin-bottom: 0;
}

@media (max-width: 1020px) {

    .footer {
        padding: 60px 0 20px;
    }
}

@media (max-width: 800px) {

    .footer {
        padding: 40px 0 20px;
    }

    .footer .widget,
    .footer .widget.info {
        width: 100%;
        margin-bottom: 40px;
        max-width: unset;
    }

    .footer .widget.social {
        display: none;
    }

    .footer .widget:last-of-type {
        margin-bottom: 0;
    }

    .footer .widget:last-of-type {
        margin-bottom: unset;
    }

    .footer .subfooter {
        margin: 40px auto 0;
    }
}

.footer .subfooter {
    align-items: center;
}

.footer .subfooter .copyright {
    font-size: .9em;
    color: $color-lightgrey;
    font-family: $body-font;
}

.footer .widget.social {
    max-width: unset;
    width: 250px;
}

@media(max-width: 600px) {
    .footer {
        padding: 30px 0;
    }

    .footer .subfooter {
        display: block;
    }

    .footer .widget.social {
        display: none;
    }

    .footer .subfooter .copyright {
        text-align: center;
    }
}
