@import "_variables.scss";
@import "_mixins.scss";
@import "~delicious-hamburgers/scss/base";
@import "~delicious-hamburgers/scss/animations/collapse";

/* 4. Site Header
/* ---------------------------------------------------------- */

.site-header {
  position: relative;
  background: white;
  margin-bottom: 30px;
  box-shadow: $card-shadow;

  @media(max-width: $mobile-breakpoint) {
    margin-bottom: unset;
    grid-gap: 5vw;
  }

  .nav-wrapper {
    width: 1000px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 93%;

    @media(max-width: $mobile-breakpoint) {
      max-width: 100%;
    }

    &.nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .nav.right {
    padding-left: 0;
    padding-right: 0;

    a {
      font-family: $body-font-bold;
      transition: $transition;
    }

    .hamburger {
      display: none;
      margin-left: 6px;
      z-index: 100;

      @media(max-width: $mobile-breakpoint) {
        display: block;
      }

      &.active {
        position: fixed !important;
        right: 20px;
      }
    }
  }

  .nav.left {
    li a {
      color: $color-lightgrey;
      font-family: $body-font-semibold;
      transition: $transition;
      line-height: 1;
      font-size: 1.2em;

      &:hover {
        color: $color-hover;
        cursor: pointer;
      }
    }

    li {
      margin-right: 25px;
      line-height: 1;
      padding: 0;

      @media(max-width: $tablet-breakpoint) {
        margin-right: 20px;
      }
    }

    ul {
      @media(max-width: $mobile-breakpoint) {
        display: none;
      }
    }
  }

  .nav-item {
    display: inline;
    padding-left: unset;
    margin-top: unset;
    margin-right: 15px;
    white-space: nowrap;
    font-family: $body-font;
    font-size: 16px;
    font-style: normal;
    line-height: 1;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;

    @media(max-width: $tablet-breakpoint) {
      margin-right: 10px;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: unset;
    }

    &:last-child {
      margin-right: unset;
    }

    &.signup {
      @media(max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    &.login {
      @media(max-width: $mobile-breakpoint) {
        display: none;
      }
    }

    &.search {
      @media(max-width: $mobile-breakpoint) {
        margin: 0 5px 0 0;
      }
    }
  }

  .search-button {
    display: flex;
    align-items: center;
    color: $color-lightgrey;
    transition: $transition;
    font-size: 1.2em;
    display: block;
    height: 20px;

    @media(max-width: $mobile-breakpoint) {
      font-size: 1.3em;
    }

    &:hover {
      color: $color-hover;
      cursor: pointer;
    }
  }

  .mobile-logo {
    display: flex;
    align-items: center;

    .icon {
      @media(max-width: $mobile-breakpoint) {
        margin-right: 3px;
      }
    }
  }
}


.page-template .site-header,
.about-template .site-header,
.post-template .site-header,
.tag-template .site-header {
  @media(max-width: $tablet-breakpoint) {
    margin-bottom: 0;
    box-shadow: none;
  }
}

.post-template {

  .nav-wrapper.nav-links {
    @media(max-width: $tablet-breakpoint) {
      padding: 0 5vw;
      max-width: 100%;
    }

    @media(max-width: $mobile-breakpoint) {
      padding: 0;
    }
  }

  .site-header {
    box-shadow: none;
  }
}

.site-header-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-header-content {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  padding-top: 6.4vmin;
  padding-bottom: 6.4vmin;
  text-align: center;
  color: $color-darkgrey;
}

.has-cover .site-header-content {
  min-height: 560px;
  background-color: white;
  color: #fff;
}

.site-header-content.left-aligned {
  padding-bottom: 0;
  text-align: left;
}

.site-header-content.no-content {
  padding-top: 0;
}

.site-header-inner {
  position: relative;
}

.site-header-content.left-aligned .site-header-inner {
  align-items: flex-start;
}

.site-logo {
  flex-shrink: 0;
  margin: 0 auto;
  max-height: 120px;
}

.site-header-content.left-aligned .site-logo {
  margin-right: auto;
  margin-left: 0;
  max-height: 96px;
}

.site-title {
  z-index: 10;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-weight: 800;

  @media(max-width: $mobile-breakpoint) {
    font-size: 1.05em;
  }
}

.site-navigation {
  position: relative;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 0.5px solid $color-header-border-grey;

  @media(max-width: $mobile-breakpoint) {
    padding: 20px 4vw;
    width: unset;
  }

  .nav {
    display: flex;
    align-items: center;

    ul {
      padding-left: unset;
      padding-right: unset;
    }
  }
}


.site-header .nav-link {
  color: $color-lightgrey;
}

.site-header .nav-btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: .8em;
  line-height: 16px;
  font-weight: 600;
  font-family: $body-font;
  letter-spacing: .5px;
  text-align: center;
  text-transform: initial;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: $transition;
}

.nav-btn {

  &.outline {
    color: $color-theme;
    background-color: white;
    box-shadow: inset 0 0 0 1px $color-theme;
    transition: $transition;

    &:hover {
      color: white;
      background-color: $color-theme;
      cursor: pointer;
    }
  }

  &.filled {
    background-color: $color-theme;
    box-shadow: inset 0 0 0 1px $color-theme;
    color: #fff !important;
    transition: $transition;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: $color-hover !important;
      box-shadow: inset 0 0 0 1px $color-hover;
    }
  }
}

.tags-navigation {
  border-bottom: 0.5px solid $color-header-border-grey;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  .dragscroll {
    cursor: grab;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      cursor: grabbing;
    }

    &[data-dragging="true"] a {
      pointer-events: none;
    }
  }
}

.site-header ul {
  overflow-x: auto;
  display: flex;
  align-items: center;
  list-style: none;
}

.tags-list {
  padding: 20px 0;
  margin: 0 auto;

  .tag-item {
    margin-right: 15px;
    padding: 0;
    line-height: 1em;
  }
}


.tag-link {
  color: $color-lightgrey;
  letter-spacing: 0.5px;
  line-height: 16px;
  white-space: nowrap;
  font-size: .9em;
  font-family: $body-font-bold;

  &:hover {
    cursor: pointer;
    color: $color-hover;
  }
}


.logo {
  height: 40px;
  margin-right: 25px;
  transition: $transition;
  width: 40px;

  @media(max-width: $tablet-breakpoint) {
    margin-right: 20px;
  }

  &:hover {
    opacity: .7;
  }

  .icon.title {
    color: $color-theme;
    font-family: $header-font;
    font-size: 1.1em;
    margin: unset;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo.mobile {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: block;
    height: 35px;
    weight: 35px;
  }

  * {
    transition: $transition;
  }

  &:hover * {
    cursor: pointer;
    opacity: 0.7;
  }
}

.logo.desktop {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.post-template .nav-wrapper {
  max-width: $tablet-breakpoint;
}

.post-template .tags-navigation {
  display: none;
}

.error-template .nav-wrapper {
  max-width: 900px;
}