/* Cards
/* ---------------------------------------------------------- */

/* Cards are dynamic blocks of content which appear within Ghost
posts, for example: embedded videos, tweets, galleries, or
specially styled bookmark links. We add extra styling here to
make sure they look good, and are given a bit of extra spacing. */


/* General Card Styles */
/* ---------------------------------------------------------- */
.kg-card {
  margin: 30px 0;

  &:last-child {
    margin: 30px 0 0;
  }

  &.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    max-height: 500px;

    iframe {
      margin: 0;
      height: 60vw;
      border: 1px solid #d0d8df;
    }
  }

  figcaption {
    @include kg-card-figcaption;
  }
}

/* Image Card */
/* ---------------------------------------------------------- */

.kg-image-card {
  border-radius: 3px;
  margin: 30px auto;
  transition: $transition;
  max-width: 90%;

  @media(max-width: $mobile-breakpoint) {
    max-width: unset;
    @include mobile-full-width;
  }

  img {
    margin: auto;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    border-radius: 3px;

    @media(max-width: $mobile-breakpoint) {
      border-radius: unset;
    }
  }

  figcaption {
    line-height: 1.4;
    margin: 0 auto;
    padding: 8px 0 0;
  }
}

/* Code Card */
/* ---------------------------------------------------------- */
.kg-code-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;

  @media(max-width: $mobile-breakpoint) {
    @include mobile-full-width;
  }

  pre,
  pre[class*="language-"] {
    margin: 0 !important;
    order: 1;
    border-radius: 0 0 5px 5px;

    @media(max-width: $mobile-breakpoint) {
      border-radius: unset;
      font-size: .8em !important;
    }
  }

  figcaption {
    order: 1;
    width: 100%;
    width: -moz-available;
    margin: 0 auto;
    padding: 14px 15px 10px;
    border-radius: 4px 4px 0 0 !important;
    background: #20242c;
    color: #d2d7e1;
    font-family: $body-font-medium;
    font-size: 0.9em;
    line-height: 1;
    text-align: left;
    white-space: normal;
    order: 0;

    @media(max-width: $mobile-breakpoint) {
      min-width: 100%;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
      border-right: 0;
      border-left: 0;
      border-radius: unset !important;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    code {
      font-family: $monospace-font;
    }
  }
}

/* Product Card */
/* ---------------------------------------------------------- */

.kg-product-card .kg-product-card-description {

  p,
  ol,
  ul {
    font-size: 1.7rem;
    line-height: 1.6em;
  }
}

/* Table Card */
/* ---------------------------------------------------------- */

.kg-table-card {
  margin: 20px 0;

  .tableContainer {
    margin: 0;
  }

  figcaption {
    @include kg-card-figcaption;
  }
}

/* Product Cards */
/* ---------------------------------------------------------- */

.kg-product-card .kg-product-card-description {

  p,
  ol,
  u {
    font-size: 1.7rem;
    line-height: 1.6em;
  }

}

/* Callout Cards */
/* ---------------------------------------------------------- */



.kg-callout-card {
  font-family: $body-font;

  @media(max-width: $mobile-breakpoint) {
    padding: 1em 1.2em !important;
  }

  .kg-callout-emoji {
    font-size: 1.5em !important;
    padding-right: 0.4em !important;
  }

  &.kg-callout-card-grey {
    background: rgb(125 164 203 / 13%);

    .kg-callout-text {
      color: #545a69;
    }
  }
}

/* Toggle Heading Text (?) */
/* ---------------------------------------------------------- */

.kg-toggle-heading-text {
  font-size: 2.0rem;
}

.kg-bookmark-card {

  .kg-bookmark-title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #4e576a;
    display: -webkit-box;
    font-family: $body-font-bold;
    font-size: 1em;
    line-height: 1.3;
    overflow-y: hidden;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
  }

  .kg-bookmark-description {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: CamphorPro-Regular, HelveticaNeue, sans-serif;
    font-size: .9em;
    line-height: 1.5;
    margin: 15px 0;
    max-width: 475px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
  }

  .kg-bookmark-thumbnail {
    @media(max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .kg-bookmark-content * {
    transition: $transition;
  }

  &:hover {
    .kg-bookmark-content {
      cursor: pointer;
      background: $color-theme;

      * {
        color: white;
        opacity: 1;
      }

    }
  }

  .kg-bookmark-metadata {
    margin-top: unset;
  }
}