/* Cards
/* ---------------------------------------------------------- */

/* Cards are dynamic blocks of content which appear within Ghost
posts, for example: embedded videos, tweets, galleries, or
specially styled bookmark links. We add extra styling here to
make sure they look good, and are given a bit of extra spacing. */


/* General Card Styles */
/* ---------------------------------------------------------- */
.kg-card {
  margin: 30px 0;

  &:last-child {
    margin: 30px 0 0;
  }

  &.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    max-height: 500px;

    @media(max-width: $mobile-breakpoint) {
      display: block;
      max-width: unset;
      width: unset;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
    }

    iframe {
      margin: 0;
      height: 60vw;
      border: 1px solid #cdcdcd;
      width: 100%;
    }
  }

  figcaption {
    @include kg-card-figcaption;
  }
}

/* Image Card */
/* ---------------------------------------------------------- */

.kg-image-card {
  border-radius: 3px;
  margin: 30px auto;
  transition: $transition;
  max-width: 90%;

  @media(max-width: $mobile-breakpoint) {
    max-width: unset;

    & {
      @include mobile-full-width;
    }
  }

  img {
    margin: auto;
    border: 1px solid #dcdcdc;
    border-radius: 3px;

    &:hover {
      cursor: zoom-in;
    }

    @media(max-width: $mobile-breakpoint) {
      border-radius: unset;
    }
  }

  figcaption {
    line-height: 1.4;
    margin: 0 auto;
    padding: 8px 0 0;
    max-width: 90vw;
    font-family: $body-font-medium;
  }
}

/* Code Card */
/* ---------------------------------------------------------- */
.kg-code-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 30px 0;

  @media(max-width: $mobile-breakpoint) {
    @include mobile-full-width;
  }

  pre,
  pre[class*="language-"] {
    margin: 0 !important;
    order: 1;
    border-radius: 0 0 5px 5px;

    @media(max-width: $mobile-breakpoint) {
      border-radius: unset;
      font-size: .8em !important;
    }
  }

  figcaption {
    order: 1;
    width: 100%;
    width: -moz-available;
    margin: 0 auto;
    padding: 16px 15px 12px;
    border-radius: 4px 4px 0 0 !important;
    background: #20242c;
    color: #e3e6ee;
    font-family: $body-font-medium;
    font-size: 1em;
    line-height: 1;
    text-align: left;
    white-space: normal;
    order: 0;

    @media(max-width: $mobile-breakpoint) {
      min-width: 100%;
      padding: 16px 15px 12px;
      margin-left: calc(-50vw + 50%) !important;
      margin-right: calc(-50vw + 50%) !important;
      border-right: 0;
      border-left: 0;
      border-radius: unset !important;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      font-size: .95em;
      line-height: 1.3;
      color: #cfdde5;
      font-family: $body-font-semibold;
    }

    code {
      font-family: $monospace-font;
      color: #d2dce3;
      background: rgb(156 195 255 / 20%);
      font-size: 0.95em;
      padding: 2px 5px;
      border-radius: 4px;
      font-weight: 600;
    }

    * {
      margin: 0;
    }
  }
}

/* Product Card */
/* ---------------------------------------------------------- */

.kg-product-card .kg-product-card-description {

  p,
  ol,
  ul {
    font-size: 1.7rem;
    line-height: 1.6em;
  }
}

/* Table Card */
/* ---------------------------------------------------------- */

.kg-table-card {
  margin: 20px 0;
  overflow-y: hidden;

  @media(max-width: $mobile-breakpoint) {
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
  }

  .tableContainer {
    margin: 0;
    overflow-x: scroll;
  }

  figcaption {
    @include kg-card-figcaption;
  }
}

/* Product Cards */
/* ---------------------------------------------------------- */

.kg-product-card .kg-product-card-description {

  p,
  ol,
  u {
    font-size: 1.7rem;
    line-height: 1.6em;
  }

}

/* Callout Cards */
/* ---------------------------------------------------------- */

.kg-callout-card {
  display: flex;
  border-radius: 5px;

  @media(max-width: $mobile-breakpoint) {
    // padding: 1em 1.2em !important;
    font-size: 1em !important;
  }

  p,
  .kg-callout-text {
    line-height: 1.4;
    font-family: $body-font;
    font-size: 1.15em !important;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .kg-callout-emoji {
    font-size: 1.5em !important;
    padding-right: 0.4em !important;
    display: block !important;
  }

  &.kg-callout-card-grey {
    background: rgb(125 164 203 / 13%);
  }

  &.kg-callout-card-blue,
  &.kg-callout-card-grey {
    box-shadow: 2px 2px 2px -2px rgb(8 88 131 / 90%), 0 0 1px rgba(0, 0, 0, .4);
    color: #2d5a7d !important;

    .kg-callout-text {
      color: #2d5a7d !important;
    }
  }
}

/* Toggle Heading Text (?) */
/* ---------------------------------------------------------- */

.kg-toggle-heading-text {
  font-size: 2.0rem;
}

.kg-bookmark-card {

  .kg-bookmark-title {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #4e576a;
    display: -webkit-box;
    font-family: $body-font-bold;
    font-size: 1em;
    line-height: 1.3;
    overflow-y: hidden;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
  }

  .kg-bookmark-description {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: CamphorPro-Regular, HelveticaNeue, sans-serif;
    font-size: .9em;
    line-height: 1.5;
    margin: 15px 0;
    max-width: 475px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    width: -webkit-fill-available;
  }

  .kg-bookmark-thumbnail {
    @media(max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  .kg-bookmark-content * {
    transition: $transition;
  }

  &:hover {
    .kg-bookmark-content {
      cursor: pointer;
      background: $color-theme;

      * {
        color: white;
        opacity: 1;
      }

    }
  }

  .kg-bookmark-metadata {
    margin-top: unset;
  }

  figcaption {
    font-size: .9em;
    padding-top: 5px;
  }
}

.kg-callout-card-yellow {
  box-shadow: 2px 2px 3px -2px rgba(71, 30, 0, .75), 0 0 1px rgba(0, 0, 0, .4);
  background: rgb(217 164 71 / 50%) !important;
  color: #775008;
  font-size: 1.1em;
  border-radius: 6px;
  overflow: hidden;
  flex-direction: column;

  .kg-callout-emoji {
    line-height: 1.2em;
    font-size: 1.1em !important;
    background: #cc9b457a;
    padding: 10px 8px;
    width: auto;
    margin: -20px -26px 14px;
    letter-spacing: .1px;

    &::after {
      content: "Protip";
      font-family: $body-font-semibold;
      margin-left: 5px;
    }
  }

  .kg-callout-text {
    color: #694503;
    font-size: 1em !important;

    a {
      color: #694503;
      border-bottom: 1px solid #694503 !important;

      &:hover {
        color: #b07200 !important;
        border-bottom: 1px solid #b07200 !important;
      }
    }
  }
}
