@import "_variables.scss";

.mobile-menu {
  position: fixed;
  width: 100%;
  background: white;
  min-height: 100%;
  z-index: 3;
  padding: 40px;
  overflow-y: scroll;
  top: 0;
  right: -100%;
  height: -webkit-fill-available;
  transition: $transition;

  &.active {
    right: 0 !important;
  }

  .mobile-menu-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .mobile-nav-link {
      font-family: $body-font-medium;
      font-size: 1.2em;
      transition: $transition;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        color: $color-hover;

        i,
        span,
        &>a {
          color: $color-hover;
        }

        svg,
        span {
          color: $color-hover;
        }
      }
    }
  }

  .nav-series,
  .nav-tags {
    margin-left: -14px;
    padding: 0;

    .active {
      display: block;
    }
  }

  .mobile-nav-links-list {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    display: none;

    .mobile-nav-link-nested {
      font-size: .8em;
      margin-bottom: 5px;
      margin-left: 5px;

      a {
        transition: $transition;

        &:hover {
          cursor: pointer;
          color: $color-hover;
        }
      }
    }
  }

  mobile-nav-link {
    margin-bottom: 5px;
    margin-left: 5px;

    a {
      transition: $transition;

      &:hover {
        cursor: pointer;
        color: $color-hover;
      }
    }
  }

  .flip-vertically {
    transform: scaleY(-1);
  }
}
