@import "_variables.scss";
@import "_mixins.scss";
@import "author.scss";
@import "tag.scss";


.page-template {

    .post-header {
        padding-bottom: max(3.2vmin, 28px);
    }

    .main-content {
        background: white;
        box-shadow: $card-shadow;
    }

    .main-content>p {
        -webkit-font-smoothing: antialiased;
        color: #414d5a;
        font-family: $body-font;
        font-size: 1em;
        line-height: 1.8em;
        margin: 0 0 25px;
    }
}

.tag-template {
    .post-card-large .post-card-content {
        order: 1;
    }

    .post-feed {
        display: block;

        .post-card {
            margin-bottom: 20px;
        }
    }

    .tag-image {
        height: min-content;
        width: 125px;
        margin-right: 25px;
        max-width: 30%;
    }
}


.page-title {
    font-family: $header-font-medium;
    color: $color-header-grey;
}


@media (max-width: 950px) {

    .author-template .author-card,
    .tag-template .info-card {
        margin-bottom: 20px !important;
    }

    .author-template .site-content {
        margin: unset;
    }
}

@media (max-width: 800px) {

    .author-template .site-header,
    .tag-template .site-header {
        margin: unset;
        box-shadow: unset;
    }

    .author-template .author-card,
    .tag-template .info-card {
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        padding: 25px;
    }

    .author-template .author-card .author-avatar-wrapper {
        margin-right: 15px !important;

    }
}

@media (max-width: $mobile-breakpoint) {
    .author-template .author-card .author-avatar-wrapper,
    .author-template .author-card .author-profile-pic {
        height: 70px;
        width: 70px;
        min-width: 70px;
    }

    .author-template .author-card .author-meta {
        margin: 10px 0;
    }
}



