@import "_variables.scss";
@import "_mixins.scss";


.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 10px auto;

  .pagination-arrow {
    font-size: 1.4em;
    transition: $transition;
    color: $color-lightgrey;

    &:hover {

      i,
      svg {
        color: $color-hover !important;
        cursor: pointer;
        fill: $color-hover !important;
      }

    }
  }

  .hidden {
    visibility: hidden;
  }

  .page-number {
    font-family: $body-font-bold;
    opacity: .5;
    line-height: 1;
  }
}
