@import "_variables.scss";
@import "_mixins.scss";
@import "kg.scss";
@import "table.scss";
@import "code.scss";
@import "related-posts.scss";
@import "author.scss";


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template {
  background: $color-background-grey;

  @media(max-width: $mobile-breakpoint) {
    overflow-x: hidden;
  }

  .main {
    @media(max-width: $tablet-breakpoint) {
      padding-top: 0;
    }

    @media(max-width: $mobile-breakpoint) {
      max-width: 100vw;
    }
  }

  .viewport {
    @media(max-width: $tablet-breakpoint) {
      max-width: 100vw;
    }
  }

  .site-header {
    margin-bottom: 0;
    box-shadow: 0 1px 0 rgba(39, 44, 49, 0.15);

    .site-navigation {
      border: unset;

      @media(max-width: $mobile-breakpoint) {
        padding: 20px 3vw;
      }
    }
  }

  .post-wrapper {
    margin-bottom: unset;
    background: white;
    box-shadow: 0px 4px 4px rgb(39 44 49 / 10%);
  }

  main {
    margin: 0 auto 0;
    padding-top: 0;
    width: $tablet-breakpoint;

    @media(max-width: $smallscreen-breakpoint) {
      width: 100%;
      padding-top: unset;
    }

    @media(max-width: $tablet-breakpoint) {
      margin: 0;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: unset;
    }


  }

  .post {
    word-break: break-word;
    margin: 0 auto 0;
    width: 800px;
    max-width: 90vw;
    margin: 0 auto;

    @media(max-width: $tablet-breakpoint) {
      width: unset;
      max-width: unset;
    }


    .series-nextprev {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 20px;

      @media(max-width: $tablet-breakpoint) {
        padding: 0 5vw;
      }

      .series-nextprev-button {
        border-right: 1px solid #dedede;
        border-top: 1px solid #dedede;
        color: #414d5a;
        max-width: 48%;
        min-width: 48%;
        padding: 15px;
        transition: $transition;

        &.next {
          text-align: right;

          .series-nextprev-label svg,
          .series-nextprev-label i {
            margin-left: 5px;
          }
        }

        &.prev {

          .series-nextprev-label svg,
          .series-nextprev-label i {
            margin-right: 5px;
          }
        }

        &:hover {
          background: $color-theme;
          cursor: pointer;

          * {
            color: white;
          }
        }

        .series-nextprev-label {
          font-size: 1.3em;
          margin: unset;
        }

        .series-nextprev-post-title {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          font-family: $body-font-medium;
          font-size: .9em;
          font-weight: 400;
          line-height: 1.5;
          overflow-y: hidden;
          text-overflow: ellipsis;
          width: -webkit-fill-available;
          margin: 10px 0;
        }
      }
    }
  }

  .post-header {
    align-items: center;
    display: flex !important;
    flex-direction: column;
    width: $tablet-breakpoint;
    margin: 0 auto;

    @media(max-width: $tablet-breakpoint) {
      width: 100%;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: 0 auto;
    }

    .post-primary-tag {
      line-height: 1;
      font-family: $header-font;
      margin-bottom: 10px;
      display: inline-block;
      font-size: 1.2em;
      transition: $transition;
      text-transform: uppercase;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1em;
      }

      &:hover {
        cursor: pointer;
        color: $color-hover !important;
      }
    }

    .post-image {
      width: 100%;

      @media(max-width: $tablet-breakpoint) {
        padding: 0;
      }

      img {
        width: 100%;
      }
    }

    .post-title {
      color: $color-header-grey;
      display: block;
      font-family: $header-font;
      font-size: 2.3em;
      margin: unset;
      font-weight: unset;
      line-height: 1.05;
      order: 2;
      width: -webkit-fill-available;

      @media (max-width: $mobile-breakpoint) {
        font-size: 2em;
      }

      @media (max-width: 450px) {
        font-size: 1.9em;
      }
    }

    .post-header-details {
      margin: 0 auto;
      padding: 50px 0 0;
      width: 100%;

      @media(max-width: $tablet-breakpoint) {
        padding: unset;
        max-width: 90vw;
        margin: 6vw auto 0;
      }

      .post-excerpt {
        color: #778291;
        font-family: $body-font-medium;
        font-size: 1.35em !important;
        line-height: 1.2;
        margin: 10px 0;
        order: 1;

        @media (max-width: $tablet-breakpoint) {
          margin: 10px 0;
          font-size: 1.25em;
          line-height: 1.2;
        }

        @media (max-width: 767px) {
          margin: 8px 0;
        }

        @media(max-width: $mobile-breakpoint) {
          font-size: 1.05em;
          display: none;
        }
      }

      .post-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        align-items: center;
        color: #414d5a;

        .post-meta-author-avatar {
          border-radius: 50%;
          border: 1px solid $color-author-avatar-border;
          overflow: hidden;
          display: block;
          height: 46px;
          width: 46px;
          overflow: hidden;
          margin-right: 10px;
          position: relative;

          .post-meta-author-img {
            width: 100%;
            height: 100%;
          }

          i {
            font-size: 2.3em;
            display: block;
            text-align: center;
            position: absolute;
            top: 3px;
            left: 2px;
            right: 0px;
            bottom: 0;
            line-height: 1;
            color: #4e576a;
          }
        }

        .post-meta-author-name {
          display: block;
          font-family: $header-font-semibold;
          font-size: 1.3em;
          color: #414d5a;

          &:hover {
            color: $color-hover;
            cursor: pointer;
          }
        }

        .post-meta-separator {
          padding: 0 5px;
        }

        .post-published-time-meta {
          font-family: $body-font-medium;
          opacity: .7;
        }
      }
    }

    .series-toc {
      border-bottom: 1px solid #d2d5d8;
      margin: 20px 0 0;
      overflow: hidden;
      padding: 0 0 20px;
      position: relative;
      min-width: -webkit-fill-available;

      @media(max-width: $tablet-breakpoint) {
        padding: 0 0 15px;
      }

      ol {
        counter-reset: li 2;
        list-style-type: upper-roman !important;
        margin: 0;
        padding: 0;
      }

      .series-toc-item {
        color: $color-body-font;
        counter-increment: step-counter;
        font-size: 1.15em;
        display: flex;
        justify-content: left;
        line-height: 1;
        margin: 12px 0;
        padding-left: 0;

        @media(max-width: $tablet-breakpoint) {
          margin: 0 0 10px;
        }

        @media(max-width: $mobile-breakpoint) {
          line-height: 1.1;
          font-size: 1.1em;
        }

        &::before {
          content: counter(step-counter, upper-roman) "." !important;
          color: #5f6874;
          font-family: $body-font-semibold;
          font-size: 15px;
          font-weight: bold;
          display: inline-block;
          margin-right: 5px;
          min-width: 30px;
        }

        .series-toc-item-link {
          color: #5f6874;
          font-family: $body-font-medium;
          transition: $transition;
        }

        &:hover {

          .series-toc-item-link,
          &::before {
            color: $color-hover;
            cursor: pointer;
          }
        }
      }
    }
  }

  .post-content {
    width: $tablet-breakpoint;
    margin: 30px 0 0;

    .protip {
      @include protip;
    }

    @media(max-width: $tablet-breakpoint) {
      max-width: 90vw;
      margin: 6vw auto;
    }

    iframe {
      margin: 0 0 25px;
      width: 100%;

      @media(max-width: $mobile-breakpoint) {
        width: 100vw;
        max-width: unset;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
      }

      &:last-child {
        margin: 30px 0 0;
      }
    }

    h2 {
      line-height: 1.2;
      font-family: $body-font-light;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.8em;
        line-height: 1.2;
        margin: 40px 0 5px;
      }
    }

    h3 {
      @include header-third;
    }

    a {
      @include content-link;
    }

    pre {
      overflow: auto;
      padding: 16px 20px;
      color: $color-wash;
      font-size: 1.4rem;
      line-height: 1.5em;
      background: $color-code-bg;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);

      @media(max-width: $mobile-breakpoint) {
        padding: 20px 15px;
      }
    }

    .intro-notice {
      align-items: flex-start;
      background: #eceef1;
      border-radius: 6px;
      color: #6e7482;
      display: flex;
      font-style: italic;
      justify-content: left;
      line-height: 1.4;
      font-size: .9em;
      margin: -10px auto;
      padding: 15px;
      box-shadow: 2px 2px 2px -2px rgb(0 0 0 / 75%), 0 0 1px rgba(0, 0, 0, 0.4);

      img {
        height: 40px;
        min-width: 40px;
        opacity: .7;
        color: $color-post-blurb-grey;
        margin: 0;
        margin-right: 10px !important;
      }

      p {
        font-family: $body-font;
        color: $color-post-blurb-grey;
        letter-spacing: -.2px;
        line-height: 1.6em;
        margin: 0;

        a {
          font-weight: bold;
          color: $color-post-blurb-grey;
          border-bottom: $color-post-blurb-grey 1px solid;
          transition: $transition;

          &:hover {
            color: $color-hover;
            border-bottom: $color-hover 1px solid;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer-wrapper {
    .widget.info {
      max-width: 32%;
    }
  }

  .post-tags {
    display: block;
    height: fit-content;
    justify-content: space-between;
    margin: 40px 0 20px;
    max-width: 100%;
    width: 100%;

    @media(max-width: $tablet-breakpoint) {
      padding: 0 5vw;
    }

    .post-tag-footer {
      letter-spacing: 0.1em;

      & {
        @include post-tag;
      }

      @media(max-width: $mobile-breakpoint) {
        margin: 0 7px 7px 0;
      }
    }
  }

  .author-card {
    border-top: 2px dotted #d2d5d8;
    border-bottom: unset;
    padding: 30px 0 0 0;
    margin: 0;

    & {
      @include author-card;
    }

    .author-card-wrapper {
      padding: 30px 0;

      @media(max-width: $tablet-breakpoint) {
        padding: 30px 5vw;
      }

      @media(max-width: $mobile-breakpoint) {
        margin: 0;
      }

      .author-avatar-link,
      .author-image {
        @media(max-width: $mobile-breakpoint) {
          height: 58px;
          width: 58px;
          min-width: 58px;
        }
      }

      .author-name {
        font-size: 1.5em !important;
        font-family: $body-font-medium;

        &:hover {
          cursor: pointer;
          color: $color-hover;
        }
      }
    }

    .author-meta {
      margin: 8px 0 !important;
    }

    .author-card-excerpt {
      line-height: 1.5em !important;
      font-size: 1.1em !important;
      margin-top: 0;
      color: #1e242a;

      @media(max-width: $mobile-breakpoint) {
        width: -webkit-fill-available;
        margin-top: 10px !important;
        padding-top: 5px;
        max-width: 85vw;
        line-height: 1.5 !important;
        display: block;
        margin-left: calc(-52vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
      }
    }
  }

  .basicLightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    opacity: .01;
    transition: opacity .4s ease;
    z-index: 1000;
    will-change: opacity;

    div {
      max-width: 80vw;
      max-height: 80vw;
      border: 1px solid black;

      &:hover {
        cursor: pointer;
      }

      @media(max-width: $mobile-breakpoint) {
        max-width: 90vw;
        max-height: 90vw;
      }
    }
  }
}

.page-template .post-header {
  padding-bottom: max(3.2vmin, 28px);
}

.page-template .main-content>.post-tag {
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.post-content {
  width: 100%;

  ol,
  ul {
    margin: 0 0 30px;
    padding: 0 0 0 1em;

    @media(max-width: $mobile-breakpoint) {
      margin: 10px 10px 25px;
      padding-left: 15px;
    }

    li {
      color: #232931;
      margin: 0 0 10px;
      line-height: 1.5;

      &::marker {
        font-weight: 600;
      }

      code {
        @include inline-code;
      }
    }
  }

  hr {
    margin: 2.5em 0 2.5em;
    border-top: 1px solid #e4e1e1;
  }

  hr,
  blockquote {
    position: relative;
  }

  blockquote {
    @include blockquote;
  }

  hr+*,
  +* {
    margin-top: max(4.8vmin, 32px) !important;
  }

  pre {
    overflow: auto;
    padding: 16px 20px;
    color: $color-wash;
    font-size: 1.4rem;
    line-height: 1.5em;
    background: $color-code-bg;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
  }

  a {
    border-bottom: 1px solid $color-theme;
    text-decoration: underline;
    word-break: break-word;
    transition: $transition;
    text-decoration: none;

    &:hover {
      color: $color-theme;
      cursor: pointer;
    }
  }
}

.post-after {
  background-color: $color-background-grey;
  width: 100%;
  margin: 30px 0;

  @media(max-width: $mobile-breakpoint) {
    margin: 30px 0 10px;
  }

  .post-after-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .support-us {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 15px 60px;
    padding: 20px 0 0;
    text-align: center;

    @media(max-width: $tablet-breakpoint) {
      margin: 0 5vw 60px;
    }

    @media(max-width: $mobile-breakpoint) {
      display: none;
    }

    .support-us-title {
      color: #4c5867;
      display: block;
      font-family: $header-font-semibold;
      font-size: 1.4em;
      margin-bottom: 10px;
      text-align: left;
    }

    .support-input-field {
      appearance: none;
      background: #f7f8fa;
      border: 1px solid #d6dde9;
      border-radius: 3px !important;
      display: block;
      font-family: $body-font-medium;
      font-size: 1.05em;
      height: 45px;
      line-height: 1;
      margin: 0 auto 10px;
      padding: 10px !important;
      transition: all .2s ease-out;
      width: -webkit-fill-available;
    }

    .sidebar-btn {
      font-size: 1.2em;
    }

    .support-description {
      color: #4c5a69;
      font-size: 1.1em;
      line-height: 1.5;
      margin: 0 auto 15px;
      text-align: left;
    }

    .support-coffee-link {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 15px;
    }

    .support-coffee-button {
      width: 220px;
    }
  }

  .post-comments {
    max-width: 95%;
    margin: auto;
  }
}

#ghost-comments-root {
  @media(max-width: $mobile-breakpoint) {
    padding: 0 30px;
  }
}

.lightbox-wrapper {
  @include lightboxBody;

  &:hover {
    cursor: zoom-out;
  }
}