@import "_variables.scss";
@import "_mixins.scss";

.post-card {
  position: relative;
  display: block;
  background-size: cover;
  word-break: break-word;
  background: white;
  box-shadow: $card-shadow;
  transition: $transition;

  &:hover {
    cursor: pointer;
    background: $color-theme;

    .post-card-title,
    .post-card-excerpt,
    .post-card-author-name,
    .post-card-author-name-mobile,
    .post-card-meta-details {
      color: white !important;
    }

    .post-card-meta {
      border-top: 1px solid white;
    }
  }

  .post-card-title {
    margin: 0;
    font-size: 2.1em;
    opacity: 0.95;
    line-height: 1.1;
    color: $color-header-grey;
    font-family: $header-font;
    transition: $transition;

    @media (max-width: $smallscreen-breakpoint) {
      font-size: 1.8em;
    }

    @media (max-width: $tablet-breakpoint) {
      font-size: 2em;
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 1.9em;
    }

    @media (max-width: $xs-mobile-breakpoint) {
      font-size: 1.8em;
      line-height: 1.05;
    }
  }

  i,
  svg {
    margin-top: -3px;
    margin-left: -1px;
  }

  .post-card-image-link {
    position: relative;
    overflow: hidden;
    display: block;
    transition: $transition;

    &::after {
      content: "";
      display: block;
      padding-bottom: 55%;
    }
  }

  .post-card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: $color-lightgrey no-repeat center center;
    object-fit: cover;
  }

  .post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: $transition;

    @media(max-width: $smallscreen-breakpoint) {
      padding: 15px;
    }

    @media(max-width: $mobile-breakpoint) {
      padding: 15px;
    }

    .post-card-excerpt {
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: #808997;
      display: -webkit-box;
      font-family: $body-font-medium;
      font-size: 1.4em;
      line-height: 1.15em;
      margin: 5px 0 20px;
      overflow-y: hidden;
      text-overflow: ellipsis;
      max-width: 720px;
      order: 1;
      transition: $transition;

      @media(max-width: $smallscreen-breakpoint) {
        font-size: 1.3em;
      }

      @media (max-width: 767px) {
        margin: 5px 0 15px;
      }

      @media(max-width: $mobile-breakpoint) {
        letter-spacing: unset;
        opacity: 1;
        font-size: 1.1em;
        line-height: 1.2em;
        margin: 2vw 0 4vw;
      }
    }

    .post-card-meta {
      line-clamp: 1;
      -webkit-line-clamp: 1;
      align-items: center;
      border-top: 1px solid #ebebeb;
      display: flex;
      justify-content: space-between;
      margin: 0;
      overflow: hidden;
      padding: 20px 0 0;
      text-overflow: ellipsis;
      color: $color-secondary-text;

      @media(max-width: $smallscreen-breakpoint) {
        padding: 15px 0 0;
      }

      .meta-items-left {
        display: flex;
        align-items: center;
        white-space: nowrap;

        * {
          transition: $transition;
        }

        .post-card-author-name:hover {
          color: $color-hover;
          cursor: pointer;
        }

        .post-card-author-avatar:hover {
          opacity: .5;
        }
      }

      .post-card-author-avatar {
        margin-right: 10px;
        font-size: 1.5em;
        color: $color-header-grey;
        opacity: .8;

        @media(max-width: $mobile-breakpoint) {
          margin-right: 7px;
        }
      }

      .post-card-author-image {
        border-radius: 50%;
        height: 45px;
        min-width: 45px;
        border: 1px solid $color-author-avatar-border;

        i {
          font-size: 1.5em;
          margin-right: 10px;
          color: $color-header-grey;
        }
      }

      .post-card-author-name {
        color: #646f7d;
        display: block;
        font-family: $body-font-semibold;
        font-size: 1.25em;
        line-height: 1.2;
        margin-bottom: 2px;
        transition: $transition;

        @media (max-width: $mobile-breakpoint) {
          display: none;
        }

        &:hover {
          color: $color-hover !important;
          cursor: pointer;
        }
      }

      .post-card-author-name-mobile {
        display: none;
        text-transform: capitalize;
        color: #646f7d;
        font-family: $body-font-semibold;
        font-size: 1.2em;
        line-height: 1;
        margin-bottom: 4px;
        transition: $transition;

        @media (max-width: $mobile-breakpoint) {
          display: block;
        }
      }

      .post-card-primary-tag {
        color: white;
        padding: 6px 10px;
        border-radius: 3px;
        line-height: 1;
        font-family: $body-font-semibold;
        font-size: 1.1em;
        text-align: center;
        transition: $transition;

        @media(max-width: $xs-mobile-breakpoint) {
          padding: 6px 8px;
          line-height: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 45%;
          display: block;
        }

        &:hover {
          cursor: pointer;
          background: white !important;
          color: #646f7d;
          box-shadow: inset 0 0 0 1px #646f7d !important;
        }
      }

      .post-card-meta-details {
        line-height: 1;

        .date i {
          margin-right: 3px;
        }
      }

      .post-card-meta-item {
        font-family: $body-font-semibold;
        line-height: 1;

        @media(max-width: $mobile-breakpoint) {
          display: block;
          font-size: 0.95em;
        }

        &.separator,
        &.reading-time {
          @media(max-width: $mobile-breakpoint) {
            display: none;
          }
        }
      }

      .post-card-tags {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0 0 10px;
        color: $color-secondary-text;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: -0.005em;
        line-height: 1;
      }
    }
  }
}