@import "_variables.scss";
@import "_mixins.scss";
@import "kg.scss";
@import "table.scss";
@import "code.scss";
@import "related-posts.scss";



/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template {

  body {
    background: white !important;
  }

  main {
    margin: 0 auto 0;
    width: $tablet-breakpoint;

    @media(max-width: $smallscreen-breakpoint) {
      width: 100%;
    }

    @media(max-width: $tablet-breakpoint) {
      margin: 0;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: unset;
    }
  }

  .post {
    word-break: break-word;

    .series-nextprev {
      display: flex;
      justify-content: space-between;

      .series-nextprev-button {
        border-right: 1px solid #dedede;
        border-top: 1px solid #dedede;
        color: #414d5a;
        max-width: 43%;
        min-width: 43%;
        padding: 15px;

        h6 {
          margin: unset;
        }
      }
    }
  }

  .post-header {
    align-items: center;
    display: flex !important;
    flex-direction: column;
    width: $tablet-breakpoint;
    margin: auto;

    @media(max-width: $tablet-breakpoint) {
      width: 100%;
    }

    .post-image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .post-title {
      color: $color-header-grey;
      display: block;
      font-family: $header-font;
      font-size: 2.3em;
      margin: unset;
      font-weight: unset;
      line-height: 1.1;
      max-width: 720px;
      order: 2;
      width: -webkit-fill-available;

      @media (max-width: $mobile-breakpoint) {
        font-size: 2em;
      }
    }

    .post-header-details {
      margin: 0 auto;
      padding: 40px 0 20px;
      width: 100%;

      @media(max-width: $tablet-breakpoint) {
        padding: 40px 40px 20px;
      }

      @media(max-width: $mobile-breakpoint) {
        padding: 30px 30px 0;
      }

      .post-excerpt {
        color: #8c96a4;
        font-family: $body-font-medium;
        font-size: 1.2em;
        line-height: 1.3;
        margin: 15px 0 0;
        max-width: 720px;
        order: 1;

        @media (max-width: 767px) {
          margin-top: 14px;
          font-size: 1.7rem;
        }

        @media(max-width: $mobile-breakpoint) {
          margin: 10px 0 0;
        }
      }

      .post-meta {
        display: flex;
        margin: 15px auto 0;

        @media(max-width: $mobile-breakpoint) {
          margin: 15px auto;
        }

        .post-meta-item {
          display: flex;
          align-items: center;
          margin-right: 25px;
          color: #7e8da3;
          line-height: 1;

          @media(max-width: $mobile-breakpoint) {
            font-size: 0.9em;
            margin-right: 15px;
            white-space: nowrap;
          }

          i,
          svg {
            margin-right: 5px;
          }

          * {
            color: #7e8da3;
            font-family: $body-font-bold;
            line-height: 1;
          }
        }
      }
    }

    .series-toc {
      border-bottom: 1px solid #eaeaea;
      margin: 0 0 20px;
      overflow: hidden;
      padding: 0 0 20px;
      position: relative;
      min-width: -webkit-fill-available;

      @media(max-width: $tablet-breakpoint) {
        margin: 0 40px 20px;
        padding: 0 0 15px;
      }

      @media(max-width: $mobile-breakpoint) {
        margin: 0 30px 30px;
        padding: 0 0 20px;
      }

      ol {
        counter-reset: li 3;
        list-style-type: upper-roman !important;
        margin: 0;
        padding: 0;
      }

      .series-toc-item {
        color: #687f99;
        counter-increment: li -1;
        display: flex;
        justify-content: left;
        line-height: 1;
        margin: 12px 0;
        padding-left: 0;

        &::before {
          content: counter(li, upper-roman) "." !important;
          color: darken($color-theme, 20%);
          font-family: $body-font;
          font-size: 15px;
          font-weight: bold;
          display: inline-block;
          margin-right: 8px;
        }

        a {
          color: #687f99;
          font-family: $body-font-bold;
          transition: $transition;

          &:hover {
            color: $color-hover;
            cursor: pointer;
          }
        }
      }
    }
  }

  .post-content {
    width: $tablet-breakpoint;
    margin: 0 auto;

    @media(max-width: $tablet-breakpoint) {
      width: unset;
      margin: 0 40px 40px;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: 0 30px 30px;
    }

    iframe {
      margin: 30px 0;

      &:last-child {
        margin: 30px 0 0;
      }
    }

    a {
      @include content-link;
    }

    pre {
      overflow: auto;
      padding: 16px 20px;
      color: $color-wash;
      font-size: 1.4rem;
      line-height: 1.5em;
      background: $color-code-bg;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
    }

    .intro-notice {
      align-items: center;
      background: #eceef1;
      border-radius: 5px;
      color: #6e7482;
      display: flex;
      font-size: .95em;
      font-style: italic;
      justify-content: left;
      line-height: 1.6;
      margin: auto;
      padding: 20px;

      img {
        height: 40px;
        min-width: 40px;
        opacity: .7;
        color: $color-post-blurb-grey;
        margin: 0;
        margin-right: 10px !important;
      }

      p {
        font-family: $body-font-medium;
        color: $color-post-blurb-grey;
        letter-spacing: -.2px;
        line-height: 1.6em;
        margin: 0;

        a {
          font-weight: bold;
          color: $color-post-blurb-grey;
          border-bottom: $color-post-blurb-grey 1px solid;
          transition: $transition;

          &:hover {
            color: $color-hover;
            border-bottom: $color-hover 1px solid;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.page-template .post-header {
  padding-bottom: max(3.2vmin, 28px);
}

.page-template .main-content>.post-tag {
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.post-content {

  ol,
  ul {
    padding: 0 1.5em;
    margin: 10px 0 -10px;

    li code {
      @include inline-code;
    }
  }

  hr,
  blockquote {
    position: relative;
    margin-top: max(4.8vmin, 32px);
  }

  hr+*,
  blockquote+* {
    margin-top: max(4.8vmin, 32px) !important;
  }

  pre {
    overflow: auto;
    padding: 16px 20px;
    color: $color-wash;
    font-size: 1.4rem;
    line-height: 1.5em;
    background: $color-code-bg;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
  }

  a {
    border-bottom: 1px solid $color-theme;
    text-decoration: underline;
    word-break: break-word;
    transition: $transition;
    text-decoration: none;

    &:hover {
      color: $color-theme;
      cursor: pointer;
    }
  }
}

.post-content>blockquote:not([class]) {
  position: relative;
  font-style: italic;
  padding: 0;
}

.post-content>blockquote:not([class])::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 0.3rem;
  background: white;
}

.post-after {
  background-color: $color-background-grey;
  width: 100%;
  padding: 50px 0;

  .post-after-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}

#ghost-comments-root {}
