@import "_variables.scss";
@import "_mixins.scss";
@import "kg.scss";
@import "table.scss";
@import "code.scss";
@import "related-posts.scss";



/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template {
    .site-content {
        width: 850px;
        margin: 20px auto 0;
        max-width: 100%;
        @media(max-width: $smallscreen-breakpoint) {
            width: 100%;
            margin: 0 auto;
        }
        @media(max-width: $tablet-breakpoint) {
            margin: 0;
        }
        @media(max-width: $mobile-breakpoint) {
            margin: unset;
        }
    }

    .post {
        background: white;
        word-break: break-word;
        box-shadow: $card-shadow;
    }

    .post-header {
        align-items: center;
        display: flex !important;
        flex-direction: column-reverse;
        padding: 0;

        .post-header-details {
            margin: 0 auto;
            padding: 40px 65px;
            width: 100%;
            @media(max-width: $mobile-breakpoint) {
                padding: 30px;
            }

            .post-excerpt {
                color: #8c96a4;
                font-family: $body-font-medium;
                font-size: 1.1em;
                line-height: 1.3;
                margin: 15px 0 0;
                max-width: 720px;
                order: 1;
                @media (max-width: 767px) {
                    margin-top: 14px;
                    font-size: 1.7rem;
                }
                @media(max-width: $mobile-breakpoint) {
                    margin: 5px 0 0;
                }
            }

            .post-meta {
                display: flex;
                margin: 15px auto 0;
                @media(max-width: $mobile-breakpoint) {
                    flex-direction: column;
                }

                .post-meta-item {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    color: #7e8da3;
                    line-height: 1;
                    @media(max-width: $mobile-breakpoint) {
                        margin-bottom: 10px;
                        font-size: .9em;
                    }
                
                    i {
                        margin-right: 5px;
                    }
                
                    * {
                        color: #7e8da3;
                        font-family: $body-font-bold;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .post-content {
        padding: 0 60px 60px;
        @media(max-width: $mobile-breakpoint) {
            padding: 0 30px 30px;
        }

        h2 {
            font-family: $body-font;
            font-weight: normal;
            font-size: 2em;
            margin: 40px 0 5px;
        }

        h3 {
            color: $color-header-grey;
        }

        iframe {
            margin: 30px 0;
        
            &:last-child {
                margin: 30px 0 0;
            }
        }

        a:hover {
            color: $color-theme;
            cursor: pointer;
        }

        pre {
            overflow: auto;
            padding: 16px 20px;
            color: $color-wash;
            font-size: 1.4rem;
            line-height: 1.5em;
            background: $color-darkgrey;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
        }

        .intro-notice {
            align-items: center;
            background: #eceef1;
            border-radius: 5px;
            color: #6e7482;
            display: flex;
            font-size: .95em;
            font-style: italic;
            justify-content: left;
            line-height: 1.6;
            margin: auto;
            padding: 20px;

            img {
                height: 40px;
                min-width: 40px;
                opacity: .7;
                color: #677584;
                margin: 0;
                margin-right: 10px !important;
            }

            p {
                font-family: $body-font-medium;
                color: #677584;
                letter-spacing: -.2px;
                line-height: 1.6em;
                margin: 0;

                a {
                    font-weight: bold;
                    color: #677584;
                    border-bottom: #677584 1px solid;
                    transition: $transition;

                    &:hover {
                        color: $color-hover;
                        border-bottom: $color-hover 1px solid;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.page-template .post-header {
    padding-bottom: max(3.2vmin, 28px);
}

.page-template .main-content {
    background: white;
    box-shadow: $card-shadow;
}

.page-template .main-content>p {
    -webkit-font-smoothing: antialiased;
    color: #414d5a;
    font-family: $body-font;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0 0 25px;
}

.post-tag {
    margin-bottom: 16px;
    font-size: 1.6rem;
}

.post-title {
    color: $color-header-grey;
    display: block;
    font-family: $header-font;
    font-size: 2.3em;
    margin: unset;
    font-weight: unset;
    line-height: 1.1;
    max-width: 720px;
    order: 2;
    width: -webkit-fill-available;
    @media (max-width: $mobile-breakpoint) {
        font-size: 2em;
    }
}

.has-serif-title .post-title {
    font-family: $font-serif;
}

.post p {
    font-family: $body-font;
    line-height: 1.7em;
    font-size: 1em;
}

.post-content {
     ol,
     ul {
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 10px;
    }

    hr,
    blockquote {
        position: relative;
        margin-top: max(4.8vmin, 32px);
    }

    hr+*,
    blockquote+* {
        margin-top: max(4.8vmin, 32px) !important;
    }

    pre {
        overflow: auto;
        padding: 16px 20px;
        color: $color-wash;
        font-size: 1.4rem;
        line-height: 1.5em;
        background: $color-darkgrey;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
    }
}

.post-image {
    grid-column: wide-start / wide-end;
    width: 100%;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

/* Now the content typography styles */
.post-content a,
.content-body a {
    border-bottom: 1px solid $color-theme;
    text-decoration: underline;
    word-break: break-word;
    transition: $transition;
    text-decoration: none;
}

.post-content a:hover,
.content-body a:hover {
    color: $color-theme;
    cursor: pointer;
}

.post-content .kg-callout-card .kg-callout-emoji {
    font-size: 2.1rem;
    line-height: 1.4;
}

.post-content .kg-toggle-card .kg-toggle-heading-text {
    font-size: 2.0rem;
}

.post-content .kg-product-card .kg-product-card-description>p,
.post-content .kg-product-card .kg-product-card-description>ol,
.post-content .kg-product-card .kg-product-card-description>ul {
    font-size: 1.7rem;
    line-height: 1.6em;
}

.post-content .kg-callout-card .kg-callout-emoji {
    font-size: 2.1rem;
    line-height: 1.4;
}

.post-content .kg-toggle-card .kg-toggle-heading-text {
    font-size: 2.0rem;
}


.post-content>blockquote:not([class]) {
    position: relative;
    font-style: italic;
    padding: 0;
}

.post-content>blockquote:not([class])::before {
    content: "";
    position: absolute;
    left: -1.5em;
    top: 0;
    bottom: 0;
    width: 0.3rem;
    background: white;
}

.post-content p > code {
    display: inline;
    font-family: $monospace-font;
    vertical-align: middle;
    font-weight: 600;
    padding: 0.15em 0.4em 0.15em;
    font-size: 0.9em;
    line-height: 1em;
    color: #517aa1;
    background: rgba(144,181,223,.1);
    border-radius: 3px;
}
