@import "_variables.scss";
@import "_mixins.scss";

.post-card {
  position: relative;
  display: block;
  background-size: cover;
  word-break: break-word;
  background: white;
  box-shadow: $card-shadow;

  .post-card-title {
    margin: 0;
    font-size: 2.2em;
    font-weight: 800;
    opacity: 0.9;
    color: $color-header-grey;
    font-family: $header-font;
    transition: $transition;

    @media (max-width: $smallscreen-breakpoint) {
      font-size: 2em;
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 1.9em;
      letter-spacing: -.5px;
    }
  }


  svg {
    margin-top: -3px;
    margin-left: -1px;
  }

  &:hover {
    color: $color-hover;
  }

  .post-card-image-link {
    position: relative;
    overflow: hidden;
    display: block;
    transition: $transition;

    &:hover {
      opacity: .8;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 55%;
    }
  }
}

.post-card-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: $color-lightgrey no-repeat center center;
  object-fit: cover;
}

.post-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.post-card-excerpt {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #8c96a4;
  display: -webkit-box;
  font-family: $body-font-medium;
  font-size: 1.2em;
  letter-spacing: -.5px;
  line-height: 1.2em;
  margin: 10px 0 20px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-width: 720px;
  order: 1;

  @media (max-width: $smallscreen-breakpoint) {
    font-size: 1.1em;
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    margin: 5px 0 15px;
  }

  @media(max-width: $mobile-breakpoint) {
    font-size: 1.1em;
    letter-spacing: unset;
    line-height: 1.1;
    opacity: 1;
  }
}

.post-card-meta {
  -webkit-line-clamp: 1;
  align-items: center;
  border-top: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  padding: 20px 0 0;
  text-overflow: ellipsis;
  color: $color-secondary-text;

  @media (max-width: $mobile-breakpoint) {
    padding: 15px 0 0;
  }

  .meta-items-left {
    display: flex;
    align-items: center;
    white-space: nowrap;


    * {
      transition: $transition;
    }

    &:hover * {
      color: $color-hover;
      cursor: pointer;
    }

    &:hover {
      .post-card-author-avatar {
        opacity: .7;
      }
    }
  }
}

.post-card-author-avatar {
  margin-right: 10px;
  font-size: 1.5em;
  color: $color-header-grey;
  opacity: .8;

  @media(max-width: $mobile-breakpoint) {
    margin-right: 7px;
  }
}

.post-card-author-image {
  border-radius: 50%;
  height: 38px;
  min-width: 38px;

  @media(max-width: $mobile-breakpoint) {
    height: 38px;
    min-width: 38px;
  }

  i {
    font-size: 1.5em;
    margin-right: 10px;
    color: $color-header-grey;
  }
}

.post-card-author-name {
  color: #646f7d;
  display: block;
  font-family: $body-font-bold;
  font-size: 1.1em;
  line-height: 1;
  transition: $transition;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 4px;
    font-size: 1em;
  }

  &:hover {
    color: $color-hover;
    cursor: pointer;
  }
}

.post-card-primary-tag {
  color: white;
  padding: 6px 8px 4px;
  border-radius: 2px;
  line-height: 1;
  font-family: $body-font-bold;
  font-size: .95em;
  text-align: center;
  transition: $transition;

  @media(max-width: $tablet-breakpoint) {
    font-size: 1em;
  }

  @media(max-width: $mobile-breakpoint) {
    font-size: .9em;
  }

  &:hover {
    cursor: pointer;
    background: white !important;
    color: $color-hover;
    box-shadow: inset 0 0 0 1px $color-hover !important;
  }
}

.post-card-meta-details {
  line-height: 1;
}

.post-card-meta-item {
  font-size: .9em;
  font-family: $body-font-medium;
  line-height: 1;

  @media(max-width: $mobile-breakpoint) {
    display: block;
    font-size: 0.85em;
  }

  &.separator,
  &.reading-time {
    @media(max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.post-card-tags {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 10px;
  color: $color-secondary-text;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.005em;
  line-height: 1;
}
