@import "_variables.scss";
@import "_mixins.scss";
@import "kg.scss";
@import "table.scss";
@import "code.scss";
@import "related-posts.scss";
@import "author.scss";


/* 7. Single Post
/* ---------------------------------------------------------- */

.post-template {
  background: $color-background-grey;

  .main {
    @media(max-width: $tablet-breakpoint) {
      padding-top: 0;
    }
  }

  .site-header {
    margin-bottom: 0;

    .site-navigation {
      border: unset;
    }
  }

  .post-wrapper {
    margin-bottom: unset;
    background: white;
    box-shadow: 0px 4px 4px rgb(39 44 49 / 10%);
  }

  main {
    margin: 0 auto 0;
    padding-top: 0;
    width: $tablet-breakpoint;

    @media(max-width: $smallscreen-breakpoint) {
      width: 100%;
      padding-top: unset;
    }

    @media(max-width: $tablet-breakpoint) {
      margin: 0;
    }

    @media(max-width: $mobile-breakpoint) {
      margin: unset;
    }
  }

  .post {
    word-break: break-word;
    margin: 0 auto 0;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;

    @media(max-width: $tablet-breakpoint) {
      width: unset;
    }


    .series-nextprev {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 0;

      .series-nextprev-button {
        border-right: 1px solid #dedede;
        border-top: 1px solid #dedede;
        color: #414d5a;
        max-width: 48%;
        min-width: 48%;
        padding: 15px;
        transition: $transition;

        &.next {
          text-align: right;

          .series-nextprev-label svg {
            margin-left: 5px;
          }
        }

        &.prev {
          .series-nextprev-label svg {
            margin-right: 5px;
          }
        }

        &:hover {
          background: $color-theme;
          cursor: pointer;

          * {
            color: white;
          }
        }

        .series-nextprev-label {
          font-size: 1.2em;
          margin: unset;
        }

        .series-nextprev-post-title {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          font-family: $body-font-medium;
          font-size: .8em;
          font-weight: 400;
          line-height: 1.5;
          overflow-y: hidden;
          text-overflow: ellipsis;
          width: -webkit-fill-available;
          margin: 10px 0;
        }
      }
    }
  }

  .post-header {
    align-items: center;
    display: flex !important;
    flex-direction: column;
    width: $tablet-breakpoint;
    margin: auto;
    margin: 0 auto 20px;

    @media(max-width: $tablet-breakpoint) {
      width: 100%;
    }

    .post-image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .post-title {
      color: $color-header-grey;
      display: block;
      font-family: $header-font;
      font-size: 2.3em;
      margin: unset;
      font-weight: unset;
      line-height: 1.1;
      max-width: 720px;
      order: 2;
      width: -webkit-fill-available;

      @media (max-width: $mobile-breakpoint) {
        font-size: 2em;
      }
    }

    .post-header-details {
      margin: 0 auto;
      padding: 30px 0 0;
      width: 100%;

      @media(max-width: $tablet-breakpoint) {
        padding: 6vw 6vw 0;
      }

      .post-excerpt {
        color: #8c96a4;
        font-family: $header-font-medium;
        font-size: 1.2em;
        line-height: 1.2;
        margin: 15px 0;
        max-width: 720px;
        order: 1;

        @media (max-width: 767px) {
          font-size: 1.8rem;
          margin: 15px 0;
        }
      }

      .post-meta {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        align-items: center;

        @media(max-width: $tablet-breakpoint) {
          margin: 20px 0 10px;
        }

        .post-meta-item {
          margin-right: 25px;
          color: #7e8da3;
          line-height: 1;
          font-family: $body-font-bold;
          font-size: .95em;

          @media(max-width: $mobile-breakpoint) {
            font-size: 0.9em;
            margin-right: 15px;
            white-space: nowrap;
            margin-bottom: 8px;
          }

          * {
            color: #7e8da3;
            transition: $transition;
          }

          i,
          svg {
            margin-right: 4px;
            font-size: .9em;
            color: #7e8da3;

          }

          &.link {
            transition: $transition;

            &:hover {
              cursor: pointer;

              * {
                color: $color-hover;
                fill: $color-hover;
              }
            }
          }
        }
      }
    }

    .series-toc {
      border-bottom: 1px solid #eaeaea;
      margin: 0 0 20px;
      overflow: hidden;
      padding: 0 0 20px;
      position: relative;
      min-width: -webkit-fill-available;

      @media(max-width: $tablet-breakpoint) {
        margin: 0 40px 20px;
        padding: 0 0 15px;
      }

      @media(max-width: $mobile-breakpoint) {
        margin: 20px 30px 30px;
      }

      ol {
        counter-reset: li 2;
        list-style-type: upper-roman !important;
        margin: 0;
        padding: 0;
      }

      .series-toc-item {
        color: #687f99;
        counter-increment: li -1;
        display: flex;
        justify-content: left;
        line-height: 1;
        margin: 12px 0;
        padding-left: 0;

        &::before {
          content: counter(li, upper-roman) "." !important;
          color: darken($color-theme, 20%);
          font-family: $body-font;
          font-size: 15px;
          font-weight: bold;
          display: inline-block;
          margin-right: 5px;
          min-width: 30px;
        }

        a {
          color: #687f99;
          font-family: $body-font-medium;
          transition: $transition;

          &:hover {
            color: $color-hover;
            cursor: pointer;
          }
        }
      }
    }
  }

  .post-content {
    width: $tablet-breakpoint;

    @media(max-width: $tablet-breakpoint) {
      width: 100%;
    }

    @media(max-width: $mobile-breakpoint) {
      padding: 0 6vw;
    }

    iframe {
      margin: 30px 0;

      &:last-child {
        margin: 30px 0 0;
      }
    }

    h2 {
      line-height: 1;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.8em;
      }
    }

    h3 {
      font-family: $body-font-bold;
      font-size: 1.2em;
      margin: 40px 0 5px;
    }

    a {
      @include content-link;
    }

    pre {
      overflow: auto;
      padding: 16px 20px;
      color: $color-wash;
      font-size: 1.4rem;
      line-height: 1.5em;
      background: $color-code-bg;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
    }

    .intro-notice {
      align-items: center;
      background: #eceef1;
      border-radius: 5px;
      color: #6e7482;
      display: flex;
      font-size: .95em;
      font-style: italic;
      justify-content: left;
      line-height: 1.6;
      margin: auto;
      padding: 20px;

      img {
        height: 40px;
        min-width: 40px;
        opacity: .7;
        color: $color-post-blurb-grey;
        margin: 0;
        margin-right: 10px !important;
      }

      p {
        font-family: $body-font-medium;
        color: $color-post-blurb-grey;
        letter-spacing: -.2px;
        line-height: 1.6em;
        margin: 0;

        a {
          font-weight: bold;
          color: $color-post-blurb-grey;
          border-bottom: $color-post-blurb-grey 1px solid;
          transition: $transition;

          &:hover {
            color: $color-hover;
            border-bottom: $color-hover 1px solid;
            cursor: pointer;
          }
        }
      }
    }
  }

  .footer-wrapper {
    width: 800px;

    .widget.info {
      max-width: 32%;
    }
  }

  .post-tags {
    display: block;
    height: fit-content;
    justify-content: space-between;
    margin: 40px 0 0;
    max-width: 100%;
    width: 100%;

    @media(max-width: $mobile-breakpoint) {
      padding: 0 30px;
    }

    .post-tag-footer {
      @include post-tag;
      letter-spacing: 0.1em;
    }
  }

  .author-card {
    @include author-card;
    border-top: 2px dotted #eaeaea;
    border-bottom: unset;
    padding: 30px 0 0 0;
    margin: 30px 0 0 0;

    .author-card-wrapper {
      padding: 30px 0;

      @media(max-width: $mobile-breakpoint) {
        padding: 30px;
        margin: 0;
      }

      .author-name {
        font-size: 1.4em;

        &:hover {
          cursor: pointer;
          color: $color-hover;
        }
      }
    }

    .author-card-excerpt {
      line-height: 1.5em !important;
      font-size: unset !important;
    }
  }
}

.page-template .post-header {
  padding-bottom: max(3.2vmin, 28px);
}

.page-template .main-content>.post-tag {
  margin-bottom: 16px;
  font-size: 1.6rem;
}

.post-content {
  width: 100%;

  ol,
  ul {
    margin: 0 10px 30px;
    padding-left: 1em;

    @media(max-width: $mobile-breakpoint) {
      margin: 10px 10px 25px;
      padding-left: 10px;
    }

    li {
      margin: 0 0 10px;

      &::marker {
        font-weight: 600;
      }

      code {
        @include inline-code;
      }
    }
  }

  hr,
  blockquote {
    position: relative;
    margin-top: max(4.8vmin, 32px);
  }

  hr+*,
  blockquote+* {
    margin-top: max(4.8vmin, 32px) !important;
  }

  pre {
    overflow: auto;
    padding: 16px 20px;
    color: $color-wash;
    font-size: 1.4rem;
    line-height: 1.5em;
    background: $color-code-bg;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1), 0 0 1px rgba(0, 0, 0, .4);
  }

  a {
    border-bottom: 1px solid $color-theme;
    text-decoration: underline;
    word-break: break-word;
    transition: $transition;
    text-decoration: none;

    &:hover {
      color: $color-theme;
      cursor: pointer;
    }
  }
}

.post-content>blockquote:not([class]) {
  position: relative;
  font-style: italic;
  padding: 0;
}

.post-content>blockquote:not([class])::before {
  content: "";
  position: absolute;
  left: -1.5em;
  top: 0;
  bottom: 0;
  width: 0.3rem;
  background: white;
}

.post-after {
  background-color: $color-background-grey;
  width: 100%;
  margin: 30px 0 50px;

  @media(max-width: $mobile-breakpoint) {
    margin: 30px 0 10px;
  }

  .post-after-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  .support-us {
    grid-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 15px 30px;
    padding: 20px 0 0;
    text-align: center;

    @media(max-width: $mobile-breakpoint) {
      display: none;
    }


    .support-us-title {
      color: #5d6b7b;
      display: block;
      font-family: $header-font-medium;
      font-size: 1.3em;
      margin-bottom: 10px;
      text-align: left;
    }

    .support-input-field {
      appearance: none;
      background: #f7f8fa;
      border: 1px solid #d6dde9;
      border-radius: 3px !important;
      display: block;
      font-family: $body-font-medium;
      font-size: .9em;
      height: 45px;
      line-height: 1;
      margin: 0 auto 10px;
      padding: 10px !important;
      transition: all .2s ease-out;
      width: -webkit-fill-available;
    }

    .support-description {
      color: #4c5a69;
      font-size: .9em;
      margin: 0 auto 20px;
      text-align: left;
    }
  }
}

#ghost-comments-root {
  @media(max-width: $mobile-breakpoint) {
    padding: 0 30px;
  }
}
