@import "_variables.scss";
@import "_mixins.scss";


.related-posts {
  grid-gap: 2vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 850px;
  margin: 0 auto;

  @media(max-width: $smallscreen-breakpoint) {
    max-width: 90%;
  }

  @media(max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
    max-width: 90% !important;
    grid-gap: 6vmin;
    margin-bottom: 20px !important;
  }

  .post-card {
    flex-direction: column;
    display: flex;

    .post-card-image-link {
      overflow: unset;
    }

    .post-card-title {
      font-size: 1.3em;
      line-height: 1.1;
      font-family: $header-font;

      @media(max-width: $tablet-breakpoint) {
        font-size: 1.3em;
      }

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.5em;
      }
    }

    .post-card-excerpt {
      font-size: 1em !important;
      margin: 10px 0;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.1m !important;
      }
    }

    .post-card-meta {
      padding: unset;
    }

    .post-card-meta-details {
      padding: 15px 0 0;
      justify-content: space-between;
      display: flex;
      align-items: center;
      width: 100%
    }

    .post-card-content {
      height: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .post-card-meta {
        width: 100%;

        .meta-items-left {
          display: block;
          white-space: unset;
          width: 100%;
        }

        .post-card-meta-item {
          display: block;
          font-family: $body-font-bold;

          * {
            font-family: $body-font-bold;
          }


          &.separator {
            display: none !important;
          }

          &.reading-time {
            display: block !important;
          }
        }
      }

      &:hover {
        background: $color-theme;
        cursor: pointer;

        * {
          color: white;
        }

        .meta-items-left * {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}