@import "_variables.scss";
@import "_mixins.scss";


.related-posts {
  max-width: 850px;
  margin: 0 auto;

  @media(max-width: $mobile-breakpoint) {
    max-width: 90% !important;
    margin-bottom: 20px !important;
  }

  .related-posts-header {
    color: $color-lightgrey;
    font-family: $header-font-semibold;
    font-size: 1.3em;
    line-height: 1;
    text-transform: uppercase;
    margin: 28px 0 16px;
    border-bottom: 1px solid #dee1e7;
    padding-bottom: 8px;
    text-align: left;

    @media(max-width: $mobile-breakpoint) {
      font-size: 1.2em;
    }
  }

  .related-posts-wrapper {
    grid-gap: 2vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width: $mobile-breakpoint) {
      grid-template-columns: 1fr;
      grid-gap: 3vmin;
    }

    .post-card {
      flex-direction: column;
      display: flex;

      @media(max-width: $mobile-breakpoint) {
        flex-direction: row;
      }

      .post-card-image-link {
        position: relative;
        overflow: hidden;
        height: auto;
        max-height: 135px;

        @media(max-width: $mobile-breakpoint) {
          display: inline-flex;
          min-width: 30vw;
        }
      }

      .post-card-image {
        position: relative;

        @media(max-width: $mobile-breakpoint) {
          object-fit: cover;
          object-position: left center;
        }
      }

      .post-card-title {
        font-size: 1.3em;
        line-height: 1.15;
        font-family: $header-font;
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media(max-width: $tablet-breakpoint) {
          font-size: 1.2em;

        }

        @media(max-width: $mobile-breakpoint) {
          line-height: 1.15;
        }
      }

      .post-card-content {
        padding: 13px;

        @media(max-width: $mobile-breakpoint) {
          width: fit-content;
        }

        .post-card-content-link {
          max-height: 64px;
          text-overflow: ellipsis;
          margin-bottom: 15px;

          @media(max-width: $mobile-breakpoint) {
            max-height: 75px;
            height: 75px;
            margin-bottom: unset;
          }
        }

        .post-card-excerpt {
          font-size: 1em !important;
          margin: 10px 0;
          display: none;

          @media(max-width: $mobile-breakpoint) {
            font-size: 1.1m !important;
          }
        }
      }

      .post-card-meta {
        padding: unset;
      }

      .post-card-meta-details {
        padding: 15px 0 0;
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 100%;

        @media(max-width: $mobile-breakpoint) {
          padding: 10px 0 0;
        }
      }

      .post-card-content {
        // height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .post-card-meta {
          width: 100%;

          .meta-items-left {
            display: block;
            white-space: unset;
            width: 100%;
          }

          .post-card-meta-item {
            display: block;
            font-family: $body-font-medium;
            color: #636f7c;

            * {
              font-family: $body-font-medium;
              color: #636f7c;
            }

            &.separator {
              display: none !important;
            }

            &.reading-time {
              display: block !important;
            }
          }
        }

        &:hover {
          background: $color-theme;
          cursor: pointer;

          * {
            color: white;
          }

          .meta-items-left * {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}