@import "_variables.scss";
@import "_mixins.scss";


.series-detail {
  background: #fff !important;
  box-shadow: $card-shadow;
  margin: 20px auto 60px;
  max-width: 100%;
  width: 900px !important;
  padding: 40px;

  @media(max-width: 900px) {
    margin: -30px auto 30px;
    width: 100% !important;
    padding: 40px;
  }

  @media(max-width: $tablet-breakpoint) {
    margin: 0 auto 30px;
  }

  @media(max-width: $mobile-breakpoint) {
    padding: 30px 5vw;
  }

  .series-feature-image {
    overflow: hidden;
    margin: 50px auto;
    width: 50%;

    @media(max-width: $mobile-breakpoint) {
      margin: 0 auto 40px;
    }
  }

  .post-content {
    margin-bottom: 40px;

    h2 {
      line-height: 1;
      font-family: $body-font-light;
      font-size: 2em !important;
      margin: 40px 0 5px;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.8em !important;

        &:last-of-type {
          display: none;
        }
      }
    }

    ul {
      font-size: .95em;
      line-height: 1.7;
      margin: 10px 0 0;

      @media(max-width: $mobile-breakpoint) {
        &:last-of-type {
          display: none;
        }
      }
    }
  }

  .series-post-card {
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e6e6e6;
    display: flex;
    margin-bottom: 13px;
    overflow: hidden;
    transition: $transition;

    @media(max-width: $mobile-breakpoint) {
      padding: 15px 5px;
      border-left: unset;
      border-radius: unset;
      border-bottom: unset;
      box-shadow: unset;
      border-top: 1px solid #e6e6e6;
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      background: $color-hover;
      border-color: $color-hover;

      *,
      .series-post-card-excerpt {
        color: white !important;
      }
    }

    &:last-of-type {
      margin-bottom: 0;

      @media(max-width: $mobile-breakpoint) {
        padding-bottom: 0;
      }
    }

    .series-title {
      font-family: $header-font-medium;
      font-size: 2.2em;
      font-weight: unset;
      margin: 0 0 20px;
    }

    .series-post-number {
      color: #414d5a;
      font-size: 2.6em;
      text-align: center;
      margin-right: 20px;
      display: flex;
      line-height: 1;
      opacity: .7;
      font-family: $header-font-medium;
      color: $color-header-grey;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.8em;
        margin-right: 10px;
        min-width: 30px;
      }
    }

    .series-post-card-detail {
      color: #414d5a;
      width: 100%;

      .series-post-card-title {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: $header-font-medium;
        font-size: 1.3em;
        font-weight: unset;
        line-height: 1.2;
        margin: 0 0 7px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        transition: $transition;

        @media(max-width: $mobile-breakpoint) {
          -webkit-line-clamp: 2;
        }
      }

      .series-post-card-excerpt {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: $body-font;
        color: $color-body-font;
        font-size: 1.05em;
        opacity: .7;
        line-height: 1.2;
        margin-bottom: 12px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        width: -webkit-fill-available;
        width: stretch;
        transition: $transition;

        @media(max-width: $tablet-breakpoint) {
          font-size: 1.1em;
        }

        @media(max-width: $mobile-breakpoint) {
          margin-bottom: 10px;
        }
      }

      .reading-time {
        align-items: center;
        color: #6c7888;
        display: flex;
        font-family: $body-font-medium;
        font-size: .85em;
        line-height: 1;
        transition: $transition;

        @media(max-width: $mobile-breakpoint) {
          display: block;
        }

        i,
        svg {
          margin-right: 5px;
          transition: $transition;

          @media(max-width: $mobile-breakpoint) {
            margin-right: 3px;
          }
        }

        span {
          font-family: $body-font-medium;
          font-size: 1.1em;
        }
      }
    }
  }

  .series-title {
    font-family: $header-font-medium;
    color: $color-header-grey;
    line-height: 1;

    @media(max-width: $mobile-breakpoint) {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }

  p {
    line-height: 1.6;
  }

  .reading-time {
    * {
      line-height: 1;
      display: inline-block;
    }

    span {
      font-size: 1.2em;
    }

    svg,
    i {
      font-size: 1.1em;

      @media(max-width: $mobile-breakpoint) {
        font-size: 1em;
      }
    }
  }
}