@import "_variables.scss";
@import "_mixins.scss";

.page-series {
  background: $color-background-grey;

  .series-all-info-card {
    background: white;
    box-shadow: $card-shadow;
    padding: 30px;
    margin: 0 auto 50px;
    width: 950px;
    max-width: 95%;


    h1 {
      font-family: $header-font-medium;
      color: $color-header-grey
    }

    p {
      line-height: 1.6;
      margin-bottom: 0;
      font-size: 1.1;
    }
  }

  .series-all {
    margin: 0 auto 40px;
    max-width: 95%;
    width: 950px;

    .series-feed {
      grid-gap: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 10px 0 0;

      @media(max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
      }

      .series-card {
        background: #fff;
        border: 1px solid #e0e7ee;
        box-shadow: $card-shadow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        transition: $transition;
        padding: 20px;

        * {
          transition: $transition;
        }

        &:hover {
          cursor: pointer;
          background: $color-theme;

          * {
            color: #fff !important;
          }
        }

        .series-image-wrapper {
          align-content: center;
          display: flex;
          height: 130px;

          .series-image {
            height: auto;
            margin: auto;
            max-height: 80%;
            max-width: 80%;
          }
        }

        .series-title {
          color: $color-header-grey;
          font-family: $body-font-bold;
          font-size: 1.3em;
          font-weight: unset;
          line-height: 1.2;
          margin-bottom: 5px;
          margin-top: 0;
          transition: $transition;
        }

        .series-description {
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          color: $color-body-font;
          display: -webkit-box;
          font-family: $body-font-medium;
          font-size: .95em;
          line-height: 1.35 !important;
          margin: 10px 0 !important;
          overflow-y: hidden;
          text-align: left;
          text-overflow: ellipsis;
          transition: all .2s ease-out;
          width: -webkit-fill-available;
        }

        .series-post-count {
          color: #787f90;
          display: flex;
          font-family: $header-font;
          line-height: 1;
          margin-top: 10px;
          text-align: right;

          i,
          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
