@import "_variables.scss";
@import "_mixins.scss";


.series-detail {
  background: #fff !important;
  box-shadow: $card-shadow;
  margin: 20px auto 60px;
  max-width: 100%;
  width: 900px !important;
  padding: 40px;

  @media(max-width: 900px) {
    margin: -30px auto 30px;
    width: 100% !important;
    padding: 40px;
  }

  @media(max-width: $tablet-breakpoint) {
    margin: 0 auto 30px;
  }

  @media(max-width: $mobile-breakpoint) {
    padding: 30px 7vw;
  }

  .series-feature-image {
    overflow: hidden;
    margin: 50px auto;
    width: 50%;

    @media(max-width: $mobile-breakpoint) {
      margin: 0 auto 40px;
    }
  }

  .post-content {
    margin-bottom: 40px;
  }

  .series-post-card {
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e6e6e6;
    display: flex;
    margin-bottom: 13px;
    overflow: hidden;
    transition: $transition;


    &:hover {
      cursor: pointer;
      background: $color-hover;
      border-color: $color-hover;

      * {
        color: white;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .series-title {
      font-family: TTNormsPro-Medium, HelveticaNeue, sans-serif;
      font-size: 2.2em;
      font-weight: unset;
      margin: 0 0 20px;
    }

    h3 {
      color: #414d5a;
      font-size: 1.25em;
      line-height: 1;
      margin: 35px 0 5px;
    }

    ul {
      font-size: .95em;
      line-height: 1.7;
      margin: 0 0 0 20px;
    }

    .series-post-number {
      color: #414d5a;
      font-size: 2.6em;
      text-align: center;
      margin-right: 20px;
      display: flex;
      line-height: 1;
    }

    .series-post-card-detail {
      color: #414d5a;
      width: 100%;

      .series-post-card-title {
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: $header-font-medium;
        font-size: 1.2em;
        font-weight: unset;
        line-height: 1.1;
        margin: 0 0 7px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        transition: $transition;

        @media(max-width: $mobile-breakpoint) {
          -webkit-line-clamp: 2;
          line-height: 1.2;
        }
      }

      .excerpt {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-family: $body-font;
        font-size: .9em;
        line-height: 1.35;
        margin-bottom: 12px;
        overflow-y: hidden;
        text-overflow: ellipsis;
        transition: all .2s ease-out;
        width: -webkit-fill-available;
        width: stretch;
        transition: $transition;
      }

      .reading-time {
        align-items: center;
        color: #6c7888;
        display: flex;
        font-family: $body-font-bold;
        font-size: .8em;
        line-height: 1;
        opacity: .8;
        transition: $transition;

        i,
        svg {
          margin-right: 5px;
          transition: $transition;
        }
      }
    }
  }

  .series-title {
    font-family: $header-font-medium;
    color: $color-header-grey;
    line-height: 1;

    @media(max-width: $mobile-breakpoint) {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-family: $body-font-bold;
    margin: 1.5em 0 0.2em;
  }

  p {
    line-height: 1.6;
  }

  .reading-time {
    * {
      line-height: 1;
      display: inline-block;
    }

    span {
      font-size: 1.2em;
    }

    svg,
    i {
      font-size: 1.1em;
    }
  }
}
