@import "_variables.scss";
@import "_mixins.scss";

/* 12. Sidebar
/* ---------------------------------------------------------- */
.sidebar {
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }

  .widget {
    background-color: white;
    padding: 20px;
    box-shadow: $card-shadow;
    margin-bottom: 20px;
    position: relative;

    .widget-title {
      color: $color-lightgrey;
      font-family: $body-font-medium;
      font-size: 1.3em;
      letter-spacing: .8px;
      line-height: 1;
      margin: 0 0 10px;
      padding: 0;
      text-align: left;
    }

    label {
      color: $color-darkgrey;
      font-family: $body-font-medium;
      opacity: .7;
      display: block;
      line-height: 1.5;
      font-size: .95em;
    }

    input[type="email"],
    input[type="text"] {
      width: 100%;
    }

    .alert {
      display: none;
    }

    &.newsletter p {
      line-height: 1.3;
      font-size: 1em;
      margin-bottom: 15px;
      font-family: $body-font;
    }

    &.twitter {
      padding: 10px;
    }

    .tag-cloud {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .tag-cloud-link {
        border: 1px solid #d7dee7;
        color: #78849c;
        display: inline-block;
        flex-grow: 1;
        font-family: $body-font-medium;
        font-size: .85em !important;
        line-height: 1.5em;
        margin: 0 2px 4px;
        padding: 4px 10px;
        text-align: center;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;

        &:hover {
          border: 1px solid #6b7583;
          background-color: #6b7583;
          cursor: pointer;
          color: white !important;
        }
      }
    }

    .github-widget {
      border: unset;
      max-width: unset;
      align-items: unset;

      .gh-widget-item {
        text-align: unset;
        padding: 5px 0;

        .stat-name {
          color: $color-lightgrey;
          font-family: $body-font-medium;
          font-size: .95em;
        }
      }

      .gh-widget-hr {
        margin: 1em 0 1em;
      }

      .gh-widget-photo {
        padding: 0;
        flex: 1.8;

        img {
          max-width: 50px;
          margin-top: 5px;
        }
      }

      .gh-widget-personal-details {
        margin-bottom: 10px;

        .full-name {
          font-size: 1.2em;
          font-family: $body-font-medium;
          line-height: 1em;
          color: $color-header-grey;
        }

        .bio {
          color: $color-sidebar-description;
          line-height: 1.4;
          font-size: 0.9em;
          margin: 5px 0 8px;
        }

        .location {
          font-size: .9em;
          font-family: $body-font-semibold;
          color: $color-lightgrey;
          line-height: 1;
        }
      }

      .gh-widget-stats {
        .gh-widget-item:nth-of-type(2) {
          display: none;
        }
      }

      .gh-widget-heading {
        display: block;
        line-height: 1;
        color: $color-lightgrey;
        font-family: $body-font-medium;
      }

      .gh-widget-repositories {

        .gh-widget-item {
          padding: 0;
        }

        .names {
          flex: 4;
        }

        .language {
          font-size: .8em;
        }

        .stars {
          font-size: 0.8em;
          text-align: right;
        }
      }

      .gh-widget-link {
        text-decoration: none;
        font-family: 'SofiaPro-SemiBold';
        line-height: 1;
        font-size: .9em;
      }

      &>div>.gh-widget-container:first-child {
        align-items: unset;
        padding: 0;
      }

      &>div>.gh-widget-container:last-child {
        margin-top: 10px;
        justify-content: space-between;

        .gh-widget-item {
          padding: 0;
        }

        .gh-widget-follow,
        .gh-widget-active-time {
          flex: unset;
        }

        .gh-widget-active-time {
          font-style: italic;
        }

        .gh-widget-follow button {
          width: 80px;
        }

        .gh-widget-follow button {
          @include filled-button;

          a {
            background-color: unset;
            box-shadow: unset;
            color: unset;
            transition: unset;
          }
        }
      }
    }
  }

  .series-list-count {
    font-family: $header-font;
    width: 25px;
    text-align: center;
    border-radius: 2px;
    line-height: 1.5;
  }

  .series-widget-list {
    .series-list-link {
      font-family: $body-font-medium !important;
      padding: 9px 6px;
      border-bottom: 1px solid #dee1e7;
      font-size: .9em;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: $transition;

      &:last-of-type {
        border-bottom: unset;
        padding: 9px 6px;
      }

      &:hover {
        background-color: $color-hover;
        border-bottom: 1px solid $color-hover;
        cursor: pointer;

        * {
          color: white;
          cursor: pointer;
        }
      }

      * {
        transition: $transition;
      }

      a {
        color: $color-lightgrey;
      }

      .series-list-link-title {
        font-family: $body-font-medium;
      }

      a,
      span,
      .series-list-count {
        display: block;
      }
    }
  }
}

/* 12.1. Global Widget Styles
/* ---------------------------------------------------------- */

.subscribe-form {
  .subscribe-form-description {
    color: $color-sidebar-description;
  }

  .sidebar-input-field {
    color: #4e5869;
    font-family: $body-font;
    font-size: .9em;
    margin: 0 0 10px;
    padding: 12px 10px 10px !important;
    transition: $transition;
    width: 100%;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid #9fb6c3;
      background-color: #e7f5fc;
      color: #445d6d;
      cursor: text;
      transition: $transition;
    }

    &::placeholder {
      opacity: 0.7;
    }
  }


  .newsletter-messages {
    @include message-overlay;
    display: none;

    .message {
      @include message-overlay;
      padding: 20px;
      display: none;
    }

    * {
      font-family: $body-font-bold;
    }
  }

  &.success {
    .newsletter-messages {
      display: block;
      z-index: 101;

      .message.success {
        background: #8bcfb6;
        display: block;
        opacity: 1;
      }

      .success-title {
        display: block;
        font-size: 2em;
        font-family: $header-font;
        margin-bottom: 10px;
      }

      * {
        color: #094509;
      }
    }
  }

  &.error {
    .newsletter-messages {
      display: block;
      z-index: 100;

      .message.error {
        background: #c86464;
        display: block;
        opacity: 1;

        .error-title {
          display: block;
          font-size: 2em;
          font-family: $header-font;
          margin-bottom: 10px;
        }

        * {
          color: #570000;
        }
      }
    }
  }

  &.loading {
    .newsletter-messages {
      display: none;

      .message.loading {
        display: none;
      }
    }
  }

  .sidebar-btn {
    color: #6c8095;
    text-align: right;
    width: 100%;
    background: none;
    font-family: $body-font-bold;
    transition: $transition;

    &:hover {
      cursor: pointer;
      color: $color-hover;
    }
  }
}

/* 12.2. Sidebar About Widget
/* ---------------------------------------------------------- */

.widget.about .widget-logo {
  display: block;
  margin: 0 auto 15px;
  transition: $transition;
  width: 230px;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.widget.about .description {
  font-family: $body-font-medium;
  color: $color-sidebar-description;
  line-height: 1.3;
  margin: 15px 0 0;
  text-align: center;
  font-size: .98em;
}

/* 12.3. Sidebar Social Widget
/* ---------------------------------------------------------- */
.widget.social {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  height: 70px;
  align-items: center;

  @media(max-width: 900px) {
    height: 60px;
  }

  .social-media-button {
    @include social-media-icon;
    font-size: 1.5em;

    @media(max-width: $smallscreen-breakpoint) {
      font-size: 1.3em;
    }

    &:hover {
      cursor: pointer;
      font-size: 1.8em;

      @media(max-width: $smallscreen-breakpoint) {
        font-size: 1.5em;
      }

      i,
      svg {
        fill: $color-hover;
        color: $color-hover;
      }
    }

    a {
      line-height: 1;
    }
  }
}