@import "_variables.scss";
@import "_mixins.scss";

/* 12. Sidebar
/* ---------------------------------------------------------- */
.sidebar {
  @media (max-width: $tablet-breakpoint) {
    display: none;
  }

  .widget {
    background-color: white;
    padding: 20px;
    box-shadow: $card-shadow;
    margin-bottom: 20px;

    .widget-title {
      color: $color-lightgrey;
      font-family: $body-font-medium;
      font-size: 1.1em;
      letter-spacing: .6px;
      line-height: 1;
      margin: 0 0 10px;
      padding: 0;
      text-align: left;
    }

    input[type="email"],
    input[type="text"] {
      width: 100%;
    }

    .alert {
      display: none;
    }


    &.newsletter p {
      line-height: 1.3;
      font-size: 1em;
      margin-bottom: 15px;
      font-family: $body-font;
    }

    &.twitter {
      padding: 10px;
    }

    .tag-cloud {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .tag-cloud-link {
        border: 1px solid #d7dee7;
        color: #78849c;
        display: inline-block;
        flex-grow: 1;
        font-family: $body-font-medium;
        font-size: .8em !important;
        line-height: 1.5em;
        margin: 0 2px 4px;
        padding: 4px 10px;
        text-align: center;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;

        &:hover {
          background: $color-hover;
          border: 1px solid $color-hover;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .series-list-count {
    font-family: $header-font;
    width: 25px;
    text-align: center;
    // border: 1px solid black;
    border-radius: 2px;
    line-height: 1.5;
  }

  .series-widget-list {
    .series-list-link {
      font-family: $body-font-medium !important;
      padding: 9px 6px;
      border-bottom: 1px solid #dee1e7;
      font-size: .9em;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: $transition;

      &:last-of-type {
        border-bottom: unset;
        padding: 9px 6px;
      }

      &:hover {
        background-color: $color-hover;
        border-bottom: 1px solid $color-hover;
        cursor: pointer;

        * {
          color: white;
          cursor: pointer;
        }
      }

      * {
        transition: $transition;
      }

      a {
        color: $color-lightgrey;
      }

      .series-list-link-title {
        font-family: $body-font-bold;
      }

      a,
      span,
      .series-list-count {
        display: block;
      }
    }
  }
}

/* 12.1. Global Widget Styles
/* ---------------------------------------------------------- */

.sidebar-input-field {
  color: #4e5869;
  font-family: $body-font;
  font-size: .9em;
  margin: 0 0 10px;
  padding: 12px 10px 10px !important;
  transition: $transition;
  width: 100%;
}

.sidebar-btn {
  color: #6c8095;
  text-align: right;
  width: 100%;
  background: none;
  font-family: $body-font-bold;
  transition: $transition;

  &:hover {
    cursor: pointer;
    color: $color-hover;
  }
}

/* 12.2. Sidebar About Widget
/* ---------------------------------------------------------- */

.widget.about .widget-logo {
  display: block;
  margin: 0 auto 15px;
  transition: $transition;
  width: 230px;

  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.widget.about .description {
  font-family: $body-font;
  line-height: 1.4;
  margin: 15px 0 0;
  text-align: center;
}

/* 12.3. Sidebar Social Widget
/* ---------------------------------------------------------- */
.widget.social {
  display: flex;
  justify-content: space-between;
  overflow: visible;
  height: 70px;
  align-items: center;

  @media(max-width: 900px) {
    height: 60px;
  }

  .social-media-button {
    @include social-media-icon;

    svg {
      font-size: 1.5em;

      &:hover {
        cursor: pointer;
        fill: $color-hover;

        @media(max-width: 900px) {
          font-size: 1.7em;
          color: $color-hover;
        }
      }
    }

    a {
      line-height: 1;
    }
  }
}
