@import "_variables.scss";
@import "_mixins.scss";

/* 8. Tag Template
/* ---------------------------------------------------------- */
.tag-template {
  background: $color-background-grey;

  .site-header {
    @media(max-width: $mobile-breakpoint) {
      box-shadow: -1px 1px 0 rgb(39 44 49 / 10%) !important;
    }
  }

  .post-card-large .post-card-content {
    order: 1;
  }

  .post-feed {
    display: block;

    .post-card {
      margin-bottom: 20px;
    }
  }

  .info-card {
    display: flex;
    justify-content: space-between;
    background: #fff;
    box-shadow: $card-shadow;
    padding: 40px;
    grid-column: span 2;
    margin-bottom: 20px;

    @media (max-width: $smallscreen-breakpoint) {
      margin: 0 auto 20px !important;
    }

    @media(max-width: $mobile-breakpoint) {
      padding: 20px 6vw !important;
    }

    .info-card-title {
      margin: 0 0 10px;
      line-height: 1;
      color: $color-header-grey;
      font-family: $body-font-medium;
      font-size: 2em;

      @media(max-width: 900px) {
        margin: 0 0 5px;
      }

      @media(max-width: $mobile-breakpoint) {
        font-size: 1.8em;
        margin: 0 0 5px;
      }
    }

    p {
      line-height: 1.6em;
      margin: 0;
      font-size: 1.05em;
    }

    .info-card-excerpt {
      line-height: 1.5;
      font-size: 1.1em;
      font-family: $body-font-medium;
      color: $color-body-font;

      @media(max-width: $mobile-breakpoint) {
        padding: 30px 25px 20px;
      }
    }

    .tag-image {
      width: 110px;
      height: min-content;
      margin-right: 25px;
      max-width: 30%;

      @media(max-width: 900px) {
        margin-right: 20px;
      }

      @media(max-width: $mobile-breakpoint) {
        margin-right: 15px;
      }
    }
  }
}
