@import "_variables.scss";
@import "_mixins.scss";


.page-tags {
  .tags-info-card {
    background: white;
    box-shadow: 0 1px 4px rgba(39, 44, 49, 0.35);
    padding: 30px;
    margin: 0 auto 50px;
    width: 950px;
    max-width: 95%;

    .tags-title {
      font-family: $header-font-medium;
      color: #4e576a;
    }

    p {
      margin-bottom: 0;
    }
  }
}
